<div class="dropdown combo-box-div"
     th:fragment="comboBox(name, fetchUrl, value, valueName, placeholderView)"
     x-data="{showComboBox: false, searchKey: $el.querySelector('input[type=text]').value}">

    <input class="idInput"
           th:id="${name + 'Id'}"
           th:name="${name}"
           th:value="${value ?: ''}"
           type="hidden">

    <div class="form-floating">
        <input @blur="showComboBox = false"
               @focus="showComboBox = true"

               autocomplete="off"
               class="form-control"
               hx-include="previous input[type='hidden']"
               hx-target="next .combo-box-search-result"
               hx-swap="outerHTML"
               hx-trigger="load, input[inputType != 'insertReplacementText' && target.value.length > 0] delay:0.3s"
               hx-push-url="false"
               oninput="
                       let componentRoot = event.target.closest('div.dropdown');
                       let idInput = componentRoot.querySelector('input.idInput');
                       let titleInput = componentRoot.querySelector('input[type=text]');

                       idInput.value = null;

                       titleInput.setCustomValidity('');

                       if (this.dataset.selectOnly === 'true' ) {
                           if (titleInput.required || titleInput.value.length > 0) {
                               titleInput.setCustomValidity('Выберите элемент из списка')
                           }
                       } else {
                           if (titleInput.required && titleInput.value.length === 0) {
                               titleInput.setCustomValidity('Выберите элемент из списка')
                           }
                       }
               "
               placeholder="Placeholder"

               th:data-select-only="${selectOnly ?: true}"

               th:hx-get="${fetchUrl}"
               th:id="${name + 'Title'}"
               th:maxlength="${maxlength ?: 32}"

               th:minlength="${minlength ?: 2}"
               th:required="${required}"
               th:value="${valueName}"

               type="text"
               th:name="${name} + 'Title'"

               x-model="searchKey"
        >
        <label th:for="${name} + 'Title'">
            <span th:replace="${placeholderView}"></span>
        </label>
    </div>

    <ul class="dropdown-menu w-100 combo-box-search-result mt-2"
        th:classappend="${searchResult != null ? 'show' : ''}"
        th:data-has-results="${searchResult?.size() > 0}"
        th:fragment="comboBoxSearchResult"
        x-show="showComboBox && (searchKey.length > 0 || $el.dataset.hasResults == 'true')">

        <li class="dropdown-item disabled "
            th:if="${searchResult != null && searchResult.size() == 0}">
            <small class="text-muted">Ничего не найдено</small>
        </li>

        <li th:each="item: ${searchResult}">
            <button
                    class="dropdown-item"
                    onmousedown="
                        let componentRoot = event.target.closest('div.dropdown');
                        let idInput = componentRoot.querySelector('input.idInput');
                        let titleInput = componentRoot.querySelector('input[type=text]');

                        let button = event.target.closest('button');
                        idInput.value = button.dataset.itemId;
                        idInput.setCustomValidity('');
                        titleInput.value = button.dataset.itemTitle;
                        titleInput.setCustomValidity('');
                    "
                    th:data-item-id="${item.id}"
                    th:data-item-title="${item.title}"
                    type="button">
                <div class="overflow-y-hidden text-truncate" th:text="${item.title}">
                </div>
                <small class="text-muted"
                       th:if="${item.details != null}"
                       th:text="${item.details ?: ''}">
                </small>
            </button>
        </li>
    </ul>
</div>