<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title th:text="${program?.title ?: 'Новая программа'}">Новая программа</title>
    <style>
        .modal-lg {
            max-width: 90%;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .modal-body {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    </style>
</head>
<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel.html :: leftNavPanel (activeLink='programs')}"></div>

    <div id="layoutSidenav_content">
        <main>
            <section class="container px-4">
                <h1 class="mt-4 pb-2 mb-3 border-bottom" th:text="${program?.title ?: 'Новая программа'}">
                    Новая программа
                </h1>


                <script id="programFormScript" th:inline="javascript">
                    let initialExercises = /*[[${program?.exercises ?: new java.util.ArrayList()}]]*/ [];

                    document.addEventListener('alpine:init', () => {
                        Alpine.data('programForm', () => ({
                            exercises: initialExercises,
                            loadPage() {
                                new bootstrap.Modal(document.getElementById('modals-here')).show();
                            },
                            remove(idx) {
                                this.exercises.splice(idx, 1);
                            },

                            moveUp(idx) {
                                let prevIdx = (idx > 0) ? idx - 1 : this.exercises.length - 1;
                                let tmp = this.exercises[prevIdx];
                                this.exercises[prevIdx] = this.exercises[idx];
                                this.exercises[idx] = tmp;
                            },

                            moveDown(idx) {
                                let nextIdx = (idx < this.exercises.length - 1) ? idx + 1 : 0;
                                let tmp = this.exercises[nextIdx];
                                this.exercises[nextIdx] = this.exercises[idx];
                                this.exercises[idx] = tmp;
                            },

                            addExercise(exc) {
                                this.exercises.push(exc);
                                let searchInputEl = document.getElementById('exerciseSearchInput');
                                searchInputEl.setCustomValidity('');
                            },

                            totalDuration() {
                                return this.exercises.length > 0 ? this.exercises.map(e => e.duration).reduce((a, b) => a + b) : 0;
                            }

                        }))
                    })

                    function validate(event) {
                        let searchInputEl = document.getElementById('exerciseSearchInput');
                        let exerciseRowEls = document.getElementsByName("exerciseIds");
                        if (exerciseRowEls.length === 0) {
                            searchInputEl.setCustomValidity('Добавьте хотя бы одно упражнение');
                            searchInputEl.reportValidity();
                            return false;
                        } else {
                            searchInputEl.setCustomValidity('');
                            return true;
                        }
                    }

                    function createExercisesSearch() {

                        return {
                            searchKey: null,

                            showDroplist: false,

                            show() {
                                if (this.searchKey?.length > 0) {
                                    this.showDroplist = true
                                }
                            },

                            hide() {
                                this.showDroplist = false;
                                return true;
                            },

                            searchResult: [],

                            async search() {
                                if (this.searchKey.length === 0) {
                                    return;
                                }
                                let response = await fetch(`/therapist/programs/create/search-exercises?searchKey=${encodeURIComponent(this.searchKey)}`);
                                if (!response.ok) {
                                    console.log(`Request failed: ${response.status} - ${response.statusText}`)
                                    alert("При обработке вашего запроса приозошла ошибка, попробуйте позднее.")
                                }
                                let responseJson = await response.json();
                                this.searchResult = responseJson.content.filter(fe => this.$data.exercises.find(e => e.id === fe.id) === undefined);
                                this.show();
                            },

                            selectExercise(idx) {
                                let el = this.searchResult.splice(idx, 1)[0];
                                this.showDroplist = false;
                                return el;
                            }
                        }

                    }

                    function exerciseTagId(ex) {
                        return `exerciseTag${ex.id}TagId`
                    }

                </script>

                <form class="mt-4"
                      id="programForm"
                      th:attr="hx-post=${pageMode == 'CREATE' ? '/therapist/programs/create' : null},hx-put=${pageMode == 'EDIT' ? '/therapist/programs/' + program.id : null}"
                      hx-on:htmx:validation:validate="validate(event)"
                      x-data="programForm"
                      x-init="$watch('exercises', new_value => {htmx.process(htmx.find('#' + exerciseTagId(new_value.slice(-1)[0])))})"
                      th:fragment="programForm"
                >


                    <div class="mb-3">
                        <fieldset>
                            <legend class="border-bottom">Общая информация</legend>
                        </fieldset>
                        <div class="form-floating mb-3">
                            <input class="form-control "
                                   id="title"
                                   maxlength="512"
                                   minlength="2"
                                   name="title"
                                   placeholder="Название программы"
                                   required
                                   th:value="${program?.title ?: ''}"
                                   type="text"
                            >
                            <label for="title">Название программы</label>
                        </div>

                        <div class="form-floating">
                            <input autocomplete="off"
                                   class="form-control"
                                   id="therapeuticTaskName"

                                   hx-get="/therapist/therapeutic-tasks/autocomplete-search"
                                   hx-swap="outerHTML"
                                   hx-target="#therapeuticTasks"
                                   hx-trigger="input[inputType != 'insertReplacementText' && target.value.length > 2] delay:0.3s"

                                   list="therapeuticTasks"
                                   th:classappend="${notExistingTherapeuticTask} ? 'is-invalid' : ''"
                                   minlength="3"

                                   name="therapeuticTaskName"
                                   placeholder="Терапевтическая задача"
                                   required
                                   th:value="${program?.therapeuticTaskName ?: null}"

                                   type="text"
                            >
                            <label for="therapeuticTaskName">Терапевтическая задача</label>
                            <div class="invalid-feedback" id="notExistingTherapeuticTaskMessage">
                                Терапевтической задачи с таким названием не существует
                            </div>
                            <datalist id="therapeuticTasks"></datalist>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <span x-text="`Длительность: ${totalDuration()} мин.`"></span>
                    </div>

                    <fieldset class="mb-2">
                        <legend class="border-bottom">Упражнения</legend>
                    </fieldset>

                    <div class="dropdown" x-data="createExercisesSearch()">
                        <div class="form-floating mb-3">
                            <input @blur="hide()"
                                   @focus="show()"
                                   @input.debounce="search"

                                   autocomplete="off"
                                   class="form-control"
                                   id="exerciseSearchInput"

                                   name="searchKey"
                                   type="text"
                                   x-model="searchKey"
                            >

                            <label for="exerciseSearchInput">Поиск упражнения</label>
                        </div>
                        <ul :class="showDroplist ? 'show' : ''"
                            class="dropdown-menu w-100"
                            id="exercisesSearchResult"
                            style="margin-top: -0.5rem"
                            th:fragment="exercisesSearchResult">

                            <li class="dropdown-item disabled"
                                x-show="searchResult.length == 0">
                                <small class="text-muted">Ничего не найдено</small>
                            </li>

                            <template x-for="(foundExercise, idx) in searchResult">
                                <li>
                                    <button
                                            @mousedown="$data.addExercise(selectExercise(idx))"
                                            class="dropdown-item"
                                            type="button">

                                        <div class="overflow-y-hidden text-truncate" x-text="foundExercise.title">
                                            Разминка для шеи
                                        </div>
                                        <small class="text-muted"
                                               x-text="foundExercise.type.label + ', ' + foundExercise.duration + ' мин'">
                                            Разминка, 10 мин
                                        </small>
                                    </button>
                                </li>
                            </template>
                        </ul>
                    </div>

                    <ul class="list-group list-group-flush g-0">
                        <template :key="exercise.id" x-for="(exercise, idx) in exercises">
                            <li
                                    class="list-group-item d-flex justify-content-between align-items-center"
                                    :id="exerciseTagId(exercise)">
                                <input :value="exercise.id"
                                       name="exerciseIds"
                                       type="hidden">
                                <div class="col-8">
                                    <div class="link link-primary"
                                         role="button"
                                         :hx-get="`/therapist/exercises/${exercise.id}/modal`"
                                         @click="loadPage(exercise.id)"
                                         hx-target="#modal-body"
                                         x-text="exercise.title"></div>
                                    <small class="text-muted"
                                           x-text="`${exercise.type.label}, ${exercise.duration} мин.`"></small>
                                </div>
                                <div class="btn-group h-fit-content ">
                                    <button @click="moveUp(idx)" class="btn btn-sm btn-outline-secondary"
                                            type="button">
                                        <i class="fas fa-chevron-up"></i>
                                    </button>
                                    <button @click="moveDown(idx)" class="btn btn-sm btn-outline-secondary"
                                            type="button">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <button @click="remove(idx)" class="btn btn-sm btn-outline-danger"
                                            type="button">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </li>
                        </template>
                    </ul>

                    <div class="modal modal-blur fade" id="modals-here" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body" id="modal-body"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 justify-content-end">
                        <div class="col-6 col-sm-auto text-center">
                            <a class="btn btn-outline-danger" href="/therapist/programs"
                               onclick="if (!window.confirm('Вы уверены, что хотите отменить все изменения и выйти?')) {event.preventDefault(); return false}"
                               style="min-width: 110px;">
                                Отмена
                            </a>
                        </div>
                        <div class="col-6 col-sm-auto text-center">
                            <button class="btn btn-outline-success" name="save" style="min-width: 110px;"
                                    type="submit">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </form>

            </section>
        </main>
        <footer th:insert="~{fragments/footer.html}"></footer>

    </div>
</div>

</body>
</html>
