<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Программы</title>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel(pageName = 'Программы')}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel :: leftNavPanel (activeLink='programs')}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container px-4">
                <form class="row mb-3" hx-get="/therapist/programs/search"
                      hx-target="#programsTable"
                      hx-trigger="submit"
                      id="programSearchForm"
                >
                    <div class="col-12 col-sm-4 mb-2" id="titleKeyword">
                        <input class="form-control"
                               name="titleKeyword"
                               placeholder="Название"
                               th:value="${searchDto?.title}"
                               type="text">
                    </div>

                    <div class="col-12 col-sm-4 mb-2" id="therapeuticTaskKeyword">
                        <input class="form-control"
                               name="therapeuticTaskKeyword"
                               placeholder="Терапевтичская задача"
                               th:value="${searchDto?.therapeuticTask}"
                               type="text">
                    </div>

                    <div class="col-12 col-sm-1 mb-3">
                        <button class="btn btn-outline-secondary w-100 d-sm-none"
                                name="searchButton"
                                title="Найти программу по названию или задаче"
                                type="submit">
                            Поиск
                        </button>
                        <button class="btn btn-outline-secondary w-100 d-none d-sm-block"
                                name="searchButtonSm"
                                title="Найти программу по названию или задаче"
                                type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                    <div class="col-12 col-sm-3">
                        <a class="btn btn-outline-success w-100" href="/therapist/programs/create"
                           id="createProgramLink" title="Создать новую программу">
                            Создать новую
                        </a>
                    </div>

                </form>

                <table class="table table-hover" id="programsTable" th:fragment="programsTable">
                    <tbody id="programsList">
                    <tr th:each="program : ${programs.content}">
                        <td class="align-middle text-truncate" style="max-width: 60vw">
                            <a class="editLink"
                               th:href="@{/therapist/programs/{programId}(programId=${program.id})}"
                               th:id="${'editProgram' + program.id}"
                               th:text="${program.title}"></a>
                        </td>

                        <td class="text-end text-nowrap">
                            <a class="text-transparent"
                               th:download="${program.title + '.docx'}"
                               th:href="@{/therapist/programs/{programId}/docx(programId=${program.id})}"
                               th:id="${'downloadProgramDocx' + program.id}">
                                <button class="deleteButton btn btn-outline-secondary text me-2"
                                        title="Скачать в формате MS Word">
                                    <i class="fas fa-file-word"></i>
                                </button>
                            </a>

                            <button class="deleteButton btn btn-outline-danger text"
                                    hx-swap="outerHTML swap:0.2s"
                                    hx-target="closest tr"
                                    th:hx-confirm="'Удалить программу ' + ${program.title} + '?'"
                                    th:hx-delete="@{/therapist/programs/{programId}(programId=${program.id})}"
                                    th:name="${'deleteProgram' + program.id}"
                                    title="Удалить программу">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </main>
        <footer th:insert="~{fragments/footer.html :: footer}"></footer>
    </div>
</div>

</body>
</html>
