<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title th:text="${client?.fullName() ?: 'ФИО'}"></title>
    <link href="/styles/therapist/clients/style.css" rel="stylesheet">
    <script defer src="/js/form-drafts.js"></script>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel (pageName=${client.fullName()})}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel :: leftNavPanel (activeLink='clients')}"></div>

    <div id="layoutSidenav_content">
        <main class="h-100">

            <div class="row g-0 w-100 mb-4 d-sm-flex">

                <ul class="nav nav-tabs nav-fill" id="cardTabs">
                    <li class="nav-item">
                        <a class="nav-link " id="journalLinkSm"
                           th:classappend="${activeTab.name.contains('JOURNAL')} ? 'active'"
                           th:href="@{/therapist/clients/{clientId}/journal(clientId=${clientId})}">Журнал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="cardLinkSm"
                           th:classappend="${activeTab.name == 'CARD'} ? 'active'"
                           th:href="@{/therapist/clients/{clientId}/card(clientId=${clientId})}">Карточка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="filesLinkSm"
                           th:classappend="${activeTab.name == 'FILES'} ? 'active'"
                           th:href="@{/therapist/clients/{clientId}/files(clientId=${clientId})}">Файлы</a>
                    </li>
                </ul>
            </div>
            <section class="container px-4">

                <div id="tabContent"
                     th:insert="~{'therapist/clients/client-' + ${activeTab.name.toLowerCase()} + '-fragment.html'}"></div>

            </section>
        </main>
        <footer th:insert="~{fragments/footer.html :: footer}"></footer>
    </div>
</div>

</body>
</html>
