<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Клиенты</title>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel(pageName = 'Клиенты')}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel :: leftNavPanel (activeLink = 'clients')}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container px-4">

                <form class="row mb-3" hx-get="/therapist/clients/search"
                      hx-target="#tablePagination"
                      hx-trigger="submit"
                      id="searchClientsFilterForm"
                      th:object="${searchDto}"
                >
                    <div class="col-12 col-sm-3 mb-2" id="lastnameFilter">
                        <input aria-describedby="basic-addon2"
                               class="form-control"
                               placeholder="Фамилия"
                               th:field="${searchDto.lastName}"
                               type="text">
                    </div>

                    <div class="col-12 col-sm-3 mb-2" id="firstnameFilter">
                        <input aria-describedby="basic-addon2"
                               class="form-control"
                               placeholder="Имя"
                               th:field="${searchDto.firstName}"
                               type="text">
                    </div>

                    <div class="col-12 col-sm-3 mb-2" id="phoneFilter">
                        <input aria-describedby="basic-addon2"
                               class="form-control"
                               placeholder="Номер телефона"
                               th:field="${searchDto.phoneNumber}" type="text">
                    </div>

                    <div class="col-12 col-sm-1 mb-3">
                        <button class="btn btn-outline-secondary w-100 d-sm-none" type="submit">
                            Поиск
                        </button>
                        <button class="btn btn-outline-secondary w-100 d-none d-sm-block" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                    <div class="col-12 col-sm-2">
                        <a class="btn btn-outline-success w-100" href="/therapist/clients/create"
                           id="createClientLink">
                            Добавить
                        </a>
                    </div>

                </form>

                <div id="tablePagination" th:fragment="clients">

                    <table class="table table-hover" id="clientsTable" th:fragment="clients-table">
                        <tbody id="clients-list">
                        <tr th:each="client : ${clients.content}">
                            <td class="nameCell w-100 align-middle">
                                <a
                                        class="link-primary updateLink"
                                        th:attr="href=@{/therapist/clients/{id}/journal (id=${client.id})}"
                                        th:text="${client.fullName}">
                                </a>
                                <br/>
                                <small>
                                    <span style="display: inline-block; min-width: 5ch; text-align: left">
                                   🧘 <span class="journal-entries-count"
                                           style="display: inline-block; min-width: 2ch; text-align: left"
                                           th:text="${client.journalEntriesCount}"
                                    >
                                        15
                                    </span>

                                    </span>
                                    ·
                                    📅 <span class="last-journal-entry-date"
                                            th:text="${client.lastJournalEntryDateLabel(today)}">12.04</span>
                                </small>
                            </td>
                            <td class="text-end w-auto text-nowrap">
                                <a class="addJournalEntryLink btn btn-outline-success me-2"
                                   th:attr="href=@{/therapist/clients/{id}/journal/create (id=${client.id})}">
                                    <i class="fas fa-file-edit"></i>
                                </a>
                                <a class="deleteClientLink btn btn-outline-danger text"
                                   hx-swap="outerHTML swap:0.2s"
                                   hx-target="closest tr"
                                   th:hx-confirm="'Удалить клиента ' + ${client.fullName} + '?'"
                                   th:hx-delete="@{/therapist/clients/delete/{id} (id=${client.id})}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div id="pagination">

                        <ul class="pagination justify-content-center">
                            <div class="pagination"
                                 th:if="${clients.totalPages > 0}">
                                <li class="page-item"
                                    th:classappend="${(clients.getPageable().pageNumber == 0) ? 'disabled' : ''}">
                                    <a class="page-link"
                                       id="prevPageLink"
                                       hx-target="#tablePagination"
                                       hx-trigger="click"
                                       style="cursor: pointer"
                                       th:attr="hx-get=@{/therapist/clients/search(firstName=${searchDto.firstName}, lastName=${searchDto.lastName}, phoneNumber=${searchDto.phoneNumber}, page=${clients.getPageable().pageNumber - 1} )}"
                                    >Назад</a>
                                </li>


                                <li class="page-item"
                                    th:each="pageNumber : ${#numbers.sequence(1, clients.getTotalPages(), 1)}"
                                    th:classappend="${pageNumber == (clients.getPageable().pageNumber + 1)} ? 'active' : ''">
                                    <a class="page-link"
                                       th:attr="hx-get=@{/therapist/clients/search(firstName=${searchDto.firstName}, lastName=${searchDto.lastName}, phoneNumber=${searchDto.phoneNumber}, page=${pageNumber - 1} )}"
                                       hx-target="#tablePagination"
                                       hx-trigger="click"
                                       style="cursor: pointer"
                                       th:id="|numberedPageLink${pageNumber}|"
                                       th:text="${pageNumber}"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${clients.getPageable().pageNumber + 1 == clients.totalPages ? 'disabled' : ''}">
                                    <a class="page-link"
                                       id="nextPageLink"
                                       hx-target="#tablePagination"
                                       hx-trigger="click"
                                       style="cursor: pointer"
                                       th:attr="hx-get=@{/therapist/clients/search(firstName=${searchDto.firstName}, lastName=${searchDto.lastName}, phoneNumber=${searchDto.phoneNumber}, page=${clients.getPageable().pageNumber + 1} )}"
                                    >Вперед</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>


            </div>
        </main>
        <footer th:insert="~{fragments/footer.html :: footer}"></footer>
    </div>
</div>

</body>
</html>