<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title th:text="${client?.fullName() ?: 'ФИО'}"></title>
    <link href="/styles/therapist/clients/style.css" rel="stylesheet">
    <style>
        .pill {
            padding: 0.5rem 0;
        }
    </style>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel :: leftNavPanel (activeLink='clients')}"></div>

    <div id="layoutSidenav_content">
        <main class="h-100">

            <section class="container px-4">
                <h1 class="mt-4 mb-3" th:text="${client?.fullName() ?: 'ФИО'}">Новый клиент</h1>

                <div class="row g-0 w-100 mb-4 d-none d-sm-flex">
                    <ul class="nav nav-tabs" id="cardTabs">
                        <li class="nav-item">
                            <a class="nav-link " id="journalLinkSm"
                               th:classappend="${activeTab == 'journal'} ? 'active'"
                               th:href="@{/therapist/clients/{id}/journal(id=${client.id})}">Журнал</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled " href="#">Особенности</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="cardLinkSm"
                               th:classappend="${activeTab == 'card'} ? 'active'"
                               th:href="@{/therapist/clients/{id}/card(id=${client.id})}">Карточка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  disabled" href="#">Объём движений</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id=" filesLinkSm"
                               th:classappend="${activeTab == 'card'} ? 'active'"
                               th:href="@{/therapist/clients/{id}/files(id=${client.id})}">Файлы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  disabled" href="#">Программы</a>
                        </li>
                    </ul>
                </div>

                <div class="row d-flex d-sm-none pb-3 mb-4 border-bottom">
                    <div class="btn-group">
                        <button aria-expanded="false" class="btn btn-outline-primary dropdown-toggle nav-drop"
                                data-bs-toggle="dropdown"
                                type="button">
                            <span th:if="${activeTab.name.equalsIgnoreCase('journal')}">Журнал</span>
                            <span th:if="${activeTab.name.equalsIgnoreCase('card')}">Карточка</span>
                            <span th:if="${activeTab.name.equalsIgnoreCase('files')}">Файлы</span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-start nav-drop">
                            <li>
                                <a class="dropdown-item "
                                   id="journalLink"
                                   th:classappend="${activeTab.name.equalsIgnoreCase('journal')} ? 'active'"
                                   th:href="@{/therapist/clients/{id}/journal(id=${client.id})}">Журнал</a>
                            </li>
                            <li>
                                <a class="dropdown-item disabled " href="#">Особенности</a>
                            </li>
                            <li>
                                <a class="dropdown-item "
                                   id="cardLink"
                                   th:classappend="${activeTab.name.equalsIgnoreCase('card')} ? 'active'"
                                   th:href="@{/therapist/clients/{id}/card(id=${client.id})}">Карточка</a>
                            </li>
                            <li>
                                <a class="dropdown-item  disabled" href="#">Объём движений</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   id="filesLink"
                                   th:classappend="${activeTab.name.equalsIgnoreCase('files')} ? 'active'"
                                   th:href="@{/therapist/clients/{id}/files(id=${client.id})}">Файлы</a>
                            </li>
                            <li>
                                <a class="dropdown-item  disabled" href="#">Программы</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="tabContent"
                     th:insert="~{'therapist/clients/client-' + ${activeTab.name.toLowerCase()} + '-fragment.html'}"></div>
            </section>
        </main>
        <footer th:insert="~{fragments/footer.html :: footer}"></footer>
    </div>
</div>

</body>
</html>
