<div class="col-3 border-end border-bottom pe-1 pe-sm-3 g-2"
     th:fragment="cell(time, day, appointment)"
     th:style="${'height: 3rem; width: 30%;' + (time.minute != 45 ? 'border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important' : '')}"
>
    <div class="rounded-2 appointment-card"
         th:id="|appointmentCard-${appointment.id}|"
         th:classappend="${appointment.statusClass}"
         th:if="${appointment != null}"
         th:style="${'margin-top: ' + (3 * appointment.timeMarkOffsetPercent) + 'rem; position: relative'}"
    >

        <a class="link-dark text-decoration-none"
           hx-boost="true"
           th:href="@{/therapist/appointments/{appointmentId}(appointmentId=${appointment.id})}"
           th:id="|editAppointmentLink-${appointment.id}|"
        >

            <div class="rounded-top-2 rounded-bottom-2 px-1 py-1 body"
                 th:style="${'height: ' + (T(java.lang.Math).max(3 * appointment.timeMarkLengthPercent - 0.25, 0.0)) + 'rem; max-height: ' + (3 * appointment.timeMarkLengthPercent) + 'rem; '} "
            >
                <small>
                    <span th:if="${appointment.timeMarkLengthPercent > 0.6}" th:text=" ${appointment.title}"></span>
                    <br/>
                    <span th:if="${appointment.timeMarkLengthPercent > 1.1}" th:text="${appointment.period}"></span>
                    <br/>
                    <span th:if="${appointment.timeMarkLengthPercent > 1.6}"
                          th:text="${appointment.description}"></span>
                </small>
            </div>
        </a>
    </div>
    <a class="w-100 h-100 text-decoration-none d-block"
       hx-boost="true"
       id="|addAppointmentLink-${date}-${time}|"
       th:href="@{/therapist/appointments/new?dateTime={dateTime}(dateTime=${day.atTime(time)})}"
    >
        &nbsp;
    </a>
</div>