<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Терапевтические задачи</title>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container px-3 px-sm-5">
                <h1 class="mt-4 mb-3">Терапевтические задачи</h1>
                <div class="mb-4">
                    <form class="input-group" hx-get="/therapist/therapeutic-tasks/search"
                          hx-swap="outerHTML"
                          hx-target="#tasksListData"
                          hx-trigger="input[target.value.length == 0 || target.value.length > 2] delay:0.3s"
                          id="searchTasksForm">
                        <input class="form-control"
                               id="searchName"
                               name="searchKey"
                               placeholder="Поиск по имени"
                               autocomplete="off"
                               type="text">
                    </form>
                </div>

                <div id="tasksList" th:fragment="tasks-list">
                    <div class="mb-3">
                        <form class="input-group"
                              hx-on:submit="document.getElementById('newTaskName').value = ''; return true"
                              hx-post="/therapist/therapeutic-tasks"
                              hx-select=".taskRow"
                              hx-swap="afterbegin"
                              hx-target="#tasksListData"
                              hx-swap-oob="true"
                              id="addTaskForm">
                            <input class="form-control"
                                   id="newTaskName"
                                   name="taskName"
                                   th:classappend="${duplicatedNewTaskName} ? 'is-invalid' : ''"
                                   th:value="${task?.name ?: ''}"
                                   placeholder="Новая задача"
                                   required
                                   type="text">
                            <button class="input-group-text" name="addTaskButton">
                                <i class="fas fa-add"></i>
                            </button>
                            <div class="invalid-feedback ms-3" id="duplicatedNewTaskName">
                                Терапевтическая задача с именем "<span th:text="${task?.name ?: ''}"></span>" уже
                                существует.
                            </div>
                        </form>
                    </div>

                    <div id="tasksListData" th:fragment="tasks-list-data">
                        <div class="mb-3 taskRow row"
                             th:each="task : ${tasks}">
                            <form class="editTaskForm input-group col-12"
                                  hx-select=".taskRow"
                                  hx-swap="outerHTML"
                                  hx-target="closest .taskRow"
                                  th:hx-put="${'/therapist/therapeutic-tasks/' + task.id}">
                                <input class="form-control"
                                       name="taskName"
                                       placeholder="Имя"
                                       required
                                       th:classappend="${duplicatedEditedTaskName} ? 'is-invalid' : ''"
                                       th:value="${task.name}"
                                       type="text"
                                >
                                <button class="input-group-text" name="editTaskButton">
                                    <i class="fas fa-save"></i>
                                </button>
                                <button class="input-group-text" name="deleteTaskButton">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <div class="col-12 text-success ms-3 fade-in-out" id="editSuccessMessage"
                                     th:if="${updateSuccess}">
                                    <small>Запись обновлена</small>
                                </div>

                                <div class="invalid-feedback ms-3 fade-in-out" id="duplicatedEditedTaskName">
                                    Терапевтическая задача с именем "<span th:text="${task?.name ?: ''}"></span>" уже
                                    существует.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto" th:insert="~{fragments/footer.html :: footer}"></footer>
    </div>
</div>

</body>
</html>
