<div class="h-100 w-100 align-middle ">

    <p class="card-body mt-5 justify-content-center text-center" id="emptyJournal"
       th:if="${journal.content.size() == 0}">
        <span class="align-middle">
            Вы не добавили ещё ни одной записи.
            <br/>
            <a class="link-opacity-100"
               href="#"
               hx-target="#tabContent"
               th:hx-get="@{/therapist/clients/{id}/journal/create(id=${client.id})}"
            >Добавьте первую</a>
        </span>
    </p>

    <div th:unless="${journal.content.size() == 0}">

        <div class="row d-flex mb-4 flex-row-reverse">
            <div class="col col-sm-3 d-flex justify-content-end">
                <a class="btn btn-outline-success link-opacity-100 w-100" href="#"
                   hx-target="#tabContent"
                   id="addEntryLink"
                   th:hx-get="@{/therapist/clients/{id}/journal/create(id=${client.id})}">
                    Добавить запись
                </a>
            </div>
        </div>

        <div class="journalEntry card mb-5" th:each="entry : ${journal.content}">
            <div class="row g-0 card-header">
                <div class="col-12 col-sm-1 d-flex align-items-end mb-3 mt-1 mb-sm-0 card-title me-3 ms-2">
                    <h6 class="entryDate mb-0"
                        th:text="${#temporals.format(entry.date, T(pro.qyoga.core.formats.DateFormatsKt).RUSSIAN_DATE_FORMAT_PATTERN)}"></h6>
                </div>
                <div class="col-12 col-sm-9 d-flex align-items-end mb-sm-0 ms-2 ms-sm-0 card-subtitle text-muted">
                    <h6 class="entryTherapeuticTask mb-0 text-truncate">
                        <span class="d-none d-sm-inline">Задача: </span>
                        <span th:text="${entry.therapeuticTask.entity.name}"></span>
                    </h6>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="entryText" style="white-space: pre-line" th:utext="${entry.entryText}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <a class="editEntryLink btn btn-outline-success me-3"
                           hx-target=" #tabContent"
                           th:hx-get="@{/therapist/clients/{clientId}/journal/{entryId}(clientId=${client.id},entryId=${entry.id})}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="deleteEntryLink btn btn-outline-danger"
                           hx-swap="outerHTML swap:0.2s"
                           hx-target="closest div.journalEntry"
                           th:hx-confirm="'Удалить запись за ' + ${entryDate} + '?'"
                           th:hx-delete="@{/therapist/clients/{clientId}/journal/{entryId}(clientId=${client.id},entryId=${entry.id})}"
                           th:with="entryDate=${#temporals.format(entry.date, T(pro.qyoga.core.formats.DateFormatsKt).RUSSIAN_DATE_FORMAT_PATTERN)}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
