<div id="createJournalEntryTabContent">
    <style>
        /* For medium screens and larger */
        @media (min-width: 768px) {
            #text-input {
                height: 25rem;
            }
        }

        /* For small screens */
        @media (max-width: 767px) {
            #text-input {
                height: 10rem;
            }
        }
    </style>

    <form hx-swap="outerHtml" id="journalEntryFrom"
          th:fragment="journalEntryFrom"
          th:hx-post="${formAction}">
        <div class="row">
            <div class="mb-3 col-12 col-md-2">
                <label class="form-label" for="date-input">Дата</label>
                <input aria-describedby="duplicatedDateMessage"
                       class="form-control"
                       id="date-input"
                       name="date" pattern="\d{2}\.\d{2}\.\d{4}" required
                       th:classappend="${duplicatedDate} ? 'is-invalid' : ''"
                       th:value="${#temporals.format((entry?.date ?: entryDate), T(pro.qyoga.core.formats.DateFormatsKt).RUSSIAN_DATE_FORMAT_PATTERN)}"
                       type="text"
                >
                <div class="invalid-feedback" id="duplicatedDateMessage">
                    Запись за эту дату уже существует
                </div>
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="task-input">Терапевтическая задача</label>
                <input class="form-control"
                       hx-get="/therapist/therapeutic-tasks/autocomplete-search"
                       id="task-input" minlength="3" name="therapeuticTaskName" required
                       hx-swap="outerHTML"
                       hx-target="#therapeuticTasks"
                       hx-trigger="input[inputType != 'insertReplacementText' && target.value.length > 2] delay:0.3s"
                       list="therapeuticTasks"
                       th:value="${entry?.therapeuticTask?.entity?.name ?: ''}"
                       type="text"
                >
                <datalist id="therapeuticTasks"></datalist>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="text-input">Запись</label>
            <textarea class="form-control"
                      id="text-input" name="journalEntryText" required rows="12"
                      th:text="${entry?.entryText ?: ''}"
            ></textarea>
        </div>
        <div class="row g-2 justify-content-end">
            <div class="col-auto">
                <a class="btn btn-danger" style="min-width: 110px;"
                   th:href="@{/therapist/clients/{id}/journal(id=${client.id})}">
                    Отмена
                </a>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" name="confirmButton" style="min-width: 110px;">
                    Сохранить
                </button>
            </div>
        </div>
    </form>
</div>