<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Новое упражнение</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="/styles/therapist/create-exercise.css" rel="stylesheet"/>
</head>
<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <h1 class="mt-4">Новое упражнение</h1>

                <form class="mt-4"
                      enctype="multipart/form-data" hx-post="/therapist/exercises/create" id="createExerciseForm">
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label" for="title">Название упражнения</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="title" name="title" placeholder="Собака мордой вниз"
                                   required type="text">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label" for="contradictions">Противопоказания</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="contradictions" name="contradictions"
                                   placeholder="Травма сухожилия бицепса бедра. Травма запястья"
                                   required type="text">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label" for="indications">Показания</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="indications" name="indications"
                                   placeholder="Вытяжение позвоночника."
                                   required type="text">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label" for="purposes">Терапевтические задачи</label>
                        <div class="col-sm-7">
                            <input class="form-control" hi id="purposes" name="purposes"
                                   placeholder="Улучшение мобильности плечевых суставов, Вытяжение задней поверхности ног"
                                   required type="text">
                            <div class="form-text">Список терапевтических задач через запятую</div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label" for="duration">Длительность (минуты)</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="duration" max="180" min="0" name="duration"
                                   required step="0.5" type="number" value="1">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label" for="type">Тип упражнения</label>
                        <div class="col-sm-7">
                            <select class="form-select col-sm-7" id="type" name="exerciseTypeId">
                                <option value="1">Разминка</option>
                                <option selected value="2">Мобилизация</option>
                                <option value="3">Укрепление</option>
                                <option value="4">Вытяжение</option>
                                <option value="5">Расслабление</option>
                                <option value="6">Тракция</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-9">
                            <label for="description">Описание:</label>
                            <textarea class="form-control" id="description" name="description"
                                      placeholder="Глубоко вдохните..."
                                      required
                                      rows="10"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <script>
                            function fileToDataUrl(event, callback) {
                                if (!event.target.files.length) return

                                let file = event.target.files[0],
                                    reader = new FileReader()

                                reader.readAsDataURL(file)
                                reader.onload = e => callback(e.target.result)
                            }

                            const noImage = "/img/no-image.png";

                            function exerciseStep() {
                                return {
                                    description: "",
                                    imageUrl: noImage,
                                    fileName: null,
                                    fileChosen(event) {
                                        fileToDataUrl(event, src => this.imageUrl = src)
                                    },
                                    removeImage() {
                                        this.imageUrl = noImage
                                        this.fileName = null
                                    }
                                }
                            }
                        </script>
                        <fieldset class="mb-3 col-sm-9 justify-content-center" id="steps"
                                  x-data="{steps: [exerciseStep()]}">
                            <template x-for="(step, idx) in steps">
                                <div class="form-group mb-3 g-0">
                                    <h5 class="" x-text="`Шаг ${idx + 1}`"></h5>
                                    <input :name="`steps[${idx}].id`" type="hidden">
                                    <input :name="`steps[${idx}].imageId`" type="hidden">
                                    <div class="row align-items-center" x-data="step">
                                        <div class="col-sm-2 d-table-cell">
                                            <label :for="`stepImageInput${idx}`" class="image-container">
                                                <i
                                                        @click.prevent="removeImage" aria-hidden="true"
                                                        class="fa fa-trash overlay"
                                                        x-show.important="imageUrl != '/img/no-image.png'"
                                                ></i>
                                                <img :id="`stepImage${idx}`" :src="step.imageUrl"
                                                     class="img-fluid mb-3">
                                            </label>
                                            <input :id="`stepImageInput${idx}`" :name="`stepImage${idx}`"
                                                   @change="fileChosen"
                                                   accept="image/*" class="form-control d-none"
                                                   type="file"
                                                   x-model="fileName"
                                            />
                                        </div>
                                        <div class="col-sm-10">
                                    <textarea :name="`steps[${idx}].description`" class="form-control "
                                              placeholder="Глубоко вдохните..."
                                              rows="10"
                                              x-model="step.description">
                                    </textarea>
                                        </div>
                                    </div>
                                    <div class="row col-sm-12 justify-content-end">
                                        <input @click="steps.splice(idx, 1)"
                                               class="btn btn-dark mt-3 col-sm-2 float-end"
                                               value="Удалить шаг">
                                    </div>
                                    <hr>
                                </div>
                            </template>
                            <input @click="steps.push(exerciseStep())"
                                   class="btn btn-secondary mt-3 mb-4"
                                   type="button"
                                   value="Добавить шаг">
                        </fieldset>

                        <div class="row col-sm-9 justify-content-end">
                            <input class="btn btn-secondary col-sm-2" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>

        </main>
        <footer class="py-4 bg-light mt-auto" th:insert="~{fragments/footer.html}"></footer>

    </div>
</div>

</body>
</html>
