<section th:fragment="futureSchedule">
    <div id="futureAppointments" th:if="${futureAppointments.size > 0}">
        <div class="col border-bottom mb-4" id="todayAppointments">
            <h6 class="mb-3 border-bottom p-3 bg-success-subtle rounded"
                th:classappend="${futureAppointments.today.size == 0} ? 'bg-secondary-subtle' : 'bg-success-subtle'"
                th:text="${#temporals.format(futureAppointments.baseDateTime, T(pro.qyoga.l10n.DateFormatsKt).RUSSIAN_DAY_OF_MONTH_PATTERN) + ' - cегодня'}"
            ></h6>
            <div class=" pb-3 mb-4 d-flex justify-content-between align-items-center appointment-row px-3"
                 th:each="appointment: ${futureAppointments.today}">
                <div>
                    <a hx-boost="true"
                       th:href="@{/therapist/appointments/{appointmentId}(appointmentId=${appointment.id})}"
                       th:id="${'editAppointmentLink' + appointment.id}"
                       th:text="${#temporals.format(appointment.wallClockDateTime, T(pro.qyoga.l10n.DateFormatsKt).RUSSIAN_TIME_FORMAT_PATTERN) + ' ' + appointment.clientRef.entity.fullName()}"
                    >

                    </a>
                    <br>
                    <small class="text-muted"
                           th:text="${appointment.typeRef.entity.name + (appointment.place != null ? ', ' + appointment.place : '')}"></small>
                </div>
                <div>
                    <button class="deleteButton btn btn-outline-danger text"
                            title="Удалить приём">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col border-bottom mb-4" id="nextWeekAppointments">
            <div th:each="weekDayAppointments: ${futureAppointments.nextWeek}">
                <h6 class="mb-3 p-3 rounded"
                    th:classappend="${weekDayAppointments.value.size == 0} ? 'bg-secondary-subtle' : 'bg-primary-subtle'"
                    th:text="${#temporals.format(weekDayAppointments.key, T(pro.qyoga.l10n.DateFormatsKt).RUSSIAN_DAY_OF_MONTH_PATTERN) + ' - ' + #temporals.format(weekDayAppointments.key, 'eeee', T(pro.qyoga.l10n.SystemLocaleKt).systemLocale)}">
                </h6>
                <div class="pb-3 mb-4 px-3">
                    <div class="d-flex justify-content-between align-items-center"
                         th:each="appointment: ${weekDayAppointments.value}"
                         th:if="${weekDayAppointments.value.size > 0}">

                        <div>
                            <a hx-boost="true"
                               th:href="@{/therapist/appointments/{appointmentId}(appointmentId=${appointment.id})}"
                               th:id="${'editAppointmentLink' + appointment.id}"
                               th:text="${#temporals.format(appointment.wallClockDateTime, T(pro.qyoga.l10n.DateFormatsKt).RUSSIAN_TIME_FORMAT_PATTERN) + ' ' + appointment.clientRef.entity.fullName()}"
                            ></a>
                            <br>
                            <small class="text-muted"
                                   th:text="${appointment.typeRef.entity.name + (appointment.place != null ? ', ' + appointment.place : '')}"></small>
                        </div>
                        <div>
                            <button class="deleteButton btn btn-outline-danger text"
                                    title="Удалить приём">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>

                    </div>

                    <div class="text-center" th:unless="${weekDayAppointments.value.size > 0}">
                        Приёмов не запланировано
                    </div>
                </div>
            </div>
        </div>

        <div class="col border-bottom mb-4" id="laterAppointments">
            <h6 class="mb-3 p-3 bg-dark-subtle rounded">Позднее</h6>
            <div class="pb-3 px-3 mb-4 d-flex justify-content-between align-items-center"
                 th:each="appointment: ${futureAppointments.later}">
                <div>
                    <a hx-boost="true"
                       th:href="@{/therapist/appointments/{appointmentId}(appointmentId=${appointment.id})}"
                       th:id="${'editAppointmentLink' + appointment.id}"
                    >
                        <span th:text="${#temporals.format(appointment.wallClockDateTime, T(pro.qyoga.l10n.DateFormatsKt).RUSSIAN_DATE_TIME_PATTERN)}"></span>
                        <br/>
                        <span th:text="${appointment.clientRef.entity.fullName()}"></span>
                    </a>
                    <br>
                    <small class="text-muted"
                           th:text="${appointment.typeRef.entity.name + (appointment.place != null ? ', ' + appointment.place : '')}"></small>
                </div>
                <div>
                    <button class="deleteButton btn btn-outline-danger text"
                            title="Удалить приём">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" th:unless="${futureAppointments.size > 0}">
        <span class="align-middle text-center" id="noAppointmentsMessage">
            У вас не запланировано ни одного приёма.
            <br/>
            <a class="link-opacity-100"
               href="/therapist/appointments/new"
               id="addFirstAppointmentLink"
            >
                Запланировать первый
            </a>
        </span>
    </div>
</section>