<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{fragments/header.html}"></div>
  <link href="/styles/therapist/create-exercise.css" rel="stylesheet"/>
</head>
<body class="sb-nav-fixed">

<div class="modal-body">
  <main>
    <section class="container px-4">
      <h1 class="mt-4 pb-2 mb-3 border-bottom"
          th:text="${exercise?.title ?: 'Новое упражнение'}">Новое упражнение</h1>
      <form class="mt-4"
            enctype="multipart/form-data"
            hx-post=""
            id="exerciseForm"
            th:attr="hx-post=${exercise == null ? '/therapist/exercises/create' : null},hx-put=${exercise != null ? '/therapist/exercises/' + exercise.id : null}"
      >

        <div class="row">
          <div class="col-12 mb-3 col-sm-5 form-floating gx-2">
            <input class="form-control "
                   id="title"
                   name="title"
                   placeholder="Название упражнения"
                   readonly
                   required
                   th:value="${exercise?.title ?: ''}"
                   type="text"
            >
            <label for="title">Название упражнения</label>
          </div>

          <div class="col-12 mb-3 col-sm-5 form-floating gx-2">
            <input class="form-control"
                   id="type"
                   readonly
                   th:value="${exercise?.exerciseType}">
            <label for="type">Тип</label>
          </div>

          <div class="col-12 mb-3 col-sm-2 form-floating gx-2">
            <input class="form-control"
                   id="duration"
                   max="180"
                   min="0"
                   name="duration"
                   readonly
                   required
                   step="0.5"
                   th:value="${T(pro.azhidkov.platform.java.time.DurationExtKt).toDecimalMinutes(exercise?.duration) ?: '1'}"
                   type="number"
            >
            <label for="duration">Длительность</label>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col form-floating gx-2">
                <textarea class="form-control"
                          id="description"
                          name="description"
                          placeholder="Глубоко вдохните..."
                          readonly
                          required
                          rows="10"
                          style="height: 15rem"
                          th:text="${exercise?.description ?: ''}">
                </textarea>
            <label for="description">Описание упражнения</label>
          </div>
        </div>
      </form>
    </section>
  </main>
</div>
</body>
</html>