<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Exercise Steps</title>
  <link href="/styles/therapist/create-exercise.css" rel="stylesheet"/>
  <div th:replace="~{fragments/header.html}"></div>
</head>


<body>
<div class="border-1">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" href="#">Шаги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled " href="#">Манипуляции</a>
    </li>
  </ul>
  <div class="row">
    <div th:if="${steps != null}">
      <div id="steps">
        <div th:each="step, iterStat : ${steps}">
          <div class="card mb-3">
            <div class="mb-3 p py-2 px-3 bg-light d-flex align-items-end rounded">
              <div class="col-9 col-sm-10">
                <h5>Шаг <span th:text="${iterStat.index + 1}">1</span></h5>
              </div>
            </div>
            <div class="row align-items-center px-3 mb-3">
              <div class="col-sm-2 mb-3 text-center mx-auto">
                <label class="align-items-center"
                       th:for="|stepImageInput${iterStat.index}|">
                  <div class="row h-100">
                    <div class="col image-container text-end">
                      <img class="mw-100 d-block"
                           style="max-height: 15rem; margin-top: -43px"
                           th:id="|stepImage${iterStat.index}|"
                           th:src="${step.imageUrl}">
                    </div>
                  </div>
                </label>
                <input accept="image/*"
                       class="form-control d-none"
                       th:disabled="${true}"
                       th:id="|stepImageInput${iterStat.index}|"
                       th:name="|stepImage${iterStat.index}|"
                       type="file"/>
              </div>
              <div class="col-sm-10 form-floating gx-2">
                                <textarea class="form-control"
                                          placeholder="Глубоко вдохните..."
                                          readonly
                                          required
                                          style="height: 15rem"
                                          th:disabled="${true}"
                                          th:name="|steps[${iterStat.index}].description|">[[${step.description}]]</textarea>
                <label th:for="|steps[${iterStat.index}].description|">Описание шага</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
