<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
    <title>Список упражнений</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                // Uncomment Below to persist sidebar toggle between refreshes
                // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                //     document.body.classList.toggle('sb-sidenav-toggled');
                // }
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
            src="https://unpkg.com/htmx.org@1.8.6"></script>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{/fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">

        <form id="questionnaire" th:method="POST" th:action="@{/questionnaires/new/{questionnaireId}(questionnaireId = ${questionnaire.id})}" th:object="${questionnaire}">

            <div id="questionnaire-title">
                <span>Название опросника</span>
                <input type="text"  th:value="${questionnaire.title}" th:field="*{title}" required>
            </div>

            <div id="questions">
                <div th:each="question, i : ${questionnaire.questions}" th:id="|question${question.id}|" th:fragment="question">
                    <div class="question">

                        <div th:id="|question${question.id}Header|" th:fragment="questionHeader">

                            <div class="question-header">
                                <input class="question-text" type="text" name="questionText" th:value="${question.text}" required>

                                <div>
                                    <img class="add-img-to-question" src="/img/add-file.png" alt="Добавить изображение">
                                    <input name="file" type="file" class="input-file" aria-hidden="true"
                                           hx-trigger="change"
                                           hx-encoding="multipart/form-data"
                                           th:attr = "
                                        hx-post=|@{new/question/{id}/addImage(id=${question.id})}|,
                                        hx-target=|#question${question.id}Img|">
                                </div>

                                <select name="question-type"
                                        hx-trigger="change"
                                        th:attr = "
                                        hx-get=|@{/questionnaires/questions/{questionId}/changeType(questionId=${question.id})}|,
                                        hx-target=|#question${question.id}Body|"
                                        class="sortBtn">
                                    <option value="one" th:if="${question.type.text} == 'one'" selected disabled hidden>один из списка</option>
                                    <option value="several" th:if="${question.type.text} == 'several'" selected disabled hidden>несколько из списка</option>
                                    <option value="range" th:if="${question.type.text} == 'range'" selected disabled hidden>интервал</option>
                                    <option value="text" th:if="${question.type.text} == 'text'" selected disabled hidden>текст</option>
                                    <option value="one">один из списка</option>
                                    <option value="several">несколько из списка</option>
                                    <option value="range">интервал</option>
                                    <option value="text">текст</option>
                                </select>

                            </div>

                            <div th:id="|question${question.id}Img|" th:fragment="questionImg">
                                <img th:src="${question.getImage()}" width="400" >
                                <img src="/img/cross-in-circle.png" alt="delete image"
                                     hx-trigger="click"
                                     th:attr = "hx-delete=|@{/questionnaires/questions/{questionId}/image(questionId=${question.id})}|">
                            </div>
                        </div>

                        <div th:id="|question${question.id}Body|">

                            <div th:id="|answers${question.id}|">
                                <div th:each="answer,j : ${question.answers}" th:switch="${question.type.text}" th:fragment="answer">

                                    <div th:case="one" th:id="|answer${answer.id}|" class="answer" >

                                        <div class="question-header">
                                            <img src="/img/circle.png" alt="answer type">
                                            <label style="width: 90%;">
+                                                <input class="answerText" type="text" name="answer" placeholder="текст ответа" th:value="${answer.optionsText}"
                                                       th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsText|"
                                                       hx-trigger="keyup changed delay:200ms, search"
                                                       th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                            </label>
                                            <div>
                                                <img class="addFileImg" src="/Img/addImg.png">
                                                <input name="file" type="file" class="input_file" aria-hidden="true"
                                                       hx-trigger="change"
                                                       hx-encoding="multipart/form-data"
                                                       th:attr = "
                                                           hx-post=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.getId()})}|,
                                                           hx-target=|#answer${answer.id}Img|">
                                            </div>
                                            <img class="deleteAnswer" src="/Img/deleteAnswer.png" alt="delete answer"
                                                 hx-trigger="click"
                                                 th:attr = "
                                                     hx-delete=|@{/questionnaires/answers/{answerId}(answerId=${answer.getId()})}|,
                                                     hx-target=|#answers${question.id}|">
                                        </div>
                                        <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
                                        <div th:id="|answer${answer.id}Img|" th:fragment="answerImg">
                                            <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                                            <img class="cross" src="/Img/deleteImg.png" alt="delete image"
                                                 hx-trigger="click"
                                                 th:attr = "hx-delete=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.id})}|">
                                        </div>
                                    </div>

                                    <div th:case="several" th:id="|answer${answer.id}|" class="answer" >
                                        <div class="question-header">
                                            <img style="padding-right: 1%; height: 16px; width: 16px" src="/Img/square.png" alt="answer type">
                                            <label style="width: 90%;">
                                                <input class="answerText" type="text" name="answer" placeholder="answer" th:value="${answer.optionsText}"
                                                       th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsText|"
                                                       hx-trigger="keyup changed delay:200ms, search"
                                                       th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                            </label>
                                            <div>
                                                <img class="addFileImg" src="/Img/addImg.png">
                                                <input name="file" type="file" class="input_file" aria-hidden="true"
                                                       hx-trigger="change"
                                                       hx-encoding="multipart/form-data"
                                                       th:attr = "
                                                           hx-post=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.getId()})}|,
                                                           hx-target=|#answer${answer.id}Img|">
                                            </div>
                                            <img class="deleteAnswer" src="/Img/deleteAnswer.png" alt="delete answer"
                                                 hx-trigger="click"
                                                 th:attr = "
                                                     hx-delete=|@{/questionnaires/answers/{answerId}(answerId=${answer.getId()})}|,
                                                     hx-target=|#answers${question.id}|">
                                        </div>

                                        <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
                                        <div th:id="|answer${answer.id}Img|" th:fragment="answerImg">
                                            <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                                            <img class="cross" src="/Img/deleteImg.png" alt="delete image"
                                                 hx-trigger="click"
                                                 th:attr = "hx-delete=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.id})}|">
                                        </div>
                                    </div>

                                    <div th:case="text" th:id="|answer${answer.id}|" class="answer" style="margin-top: 5%" >
                                        <label style="width: 90%">
                                            <input class="answerText" type="text" name="answer" placeholder="answer" disabled="" >
                                        </label>
                                    </div>

                                    <div th:case="range" th:id="|answer${answer.id}|" class="answer" >

                                        <div class="rangeBorder">
                                            <select name="range"
                                                    hx-trigger="change"
                                                    th:attr = "
                                                        hx-post=|@{/questionnaires/answers/{answerId}/LeftBorder(answerId=${answer.id})}|,
                                                        hx-target=|#leftBorder${answer.id}|"
                                                    class="sortBtn" style="width: 42px"
                                                    th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsLowerBound|">
                                                <option value="" selected disabled hidden th:text="${answer.optionsLowerBound}">lower bound</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                            </select>
                                            <span style="margin-left: 10px">-</span>
                                            <select name="range"
                                                    hx-trigger="change"
                                                    th:attr = "
                                                        hx-post=|@{/questionnaires/answers/{answerId}/RightBorder(answerId=${answerid})}|,
                                                        hx-target=|#rightBorder${answer.id}|"
                                                    class="sortBtn" style="width: 42px"
                                                    th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsUpperBound|">
                                                <option value="" selected disabled hidden th:text="${answer.optionsUpperBound}">upper bound</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <div style="padding-top: 15px; width: 100%">
                                            <div style="display:flex; ">
                                                <div th:id="|leftBorder${answer.id}|" style="width: 20px">
                                                    <span th:text="${answer.optionsLowerBound}">0</span>
                                                </div>
                                                <div style="width: 50%; margin-left: 20px">
                                                    <input type="text" class="answerText" th:value="${answer.optionsLowerBoundText}"
                                                           th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsLowerBoundText|"
                                                           hx-trigger="keyup changed delay:200ms, search"
                                                           th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                                </div>
                                            </div>
                                            <br>
                                            <div  style="display:flex; ">
                                                <div th:id="|rightBorder${answer.id}|" style="width: 20px">
                                                    <span th:text="${answer.optionsUpperBound}" >2</span>
                                                </div>
                                                <div style="width: 50%; margin-left: 20px">
                                                    <input type="text" class="answerText" th:value="${answer.optionsUpperBoundText}"
                                                           th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsUpperBoundText|"
                                                           hx-trigger="keyup changed delay:200ms, search"
                                                           th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div th:if="${question.type.text} == 'one' or ${question.type.text} == 'several' " class="answer">
                                <label style="width: 90%; margin-left: 26px">
                                    <input class="answerText" type="text" name="answer" placeholder="нажмите, чтобы добавить новый ответ" disabled="" >
                                </label>
                            </div>
                        </div>

                        <div style="border-top: 1px solid black; margin-top: 7px; padding: 7px">
                            <div>
                                <img class="delete-question" src="/Img/trashIcon.png" alt="delete q btn"
                                     hx-trigger="click"
                                     th:attr = "hx-delete=|@{/questionnaires/question/{questionId}(questionId=${question.getId()})}|"
                                     hx-target="#questions">
                            </div>
                            <div th:if="'range' != ${question.type.text} and 'text' != ${question.type.text}">
                                <button type="button" class="navigation-btn" style="float: left"
                                        hx-trigger="click"
                                        th:attr = "
                                        hx-get=|@{/questionnaires/question/{questionNum}/{questionId}/setScores
                                        (questionId=${question.getId()}, questionNum=${i.index + questionOffset})}|,
                                        hx-target=|#question${question.id}|"
                                >Задать баллы</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navPanel">
                <button type="submit" class="navigation-btn" >Задать ключи</button>
            </div>

        </form>

        <div class="navbar-nav">
            <input type="image" width="60px" src="/img/plus-in-circle.png" alt="Добавить новый вопрос"
                   hx-trigger="click"
                   th:attr="hx-get=|@{/questionnaires/{questionnaireId}/addQuestion(questionnaireId=${questionnaire.id})}|"
                   hx-swap="beforeend"
                   hx-target="#questions">
        </div>
    </div>
</div>

<div w3-include-html=""></div>

<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
</body>
</html>