<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
    <title>Список упражнений</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/upload-file-style.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
            src="https://unpkg.com/htmx.org@1.8.6"></script>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{/fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">

        <form id="questionnaire" style="padding-left: 15%; padding-right: 15%; margin-bottom: 70px"
              th:method="POST"
              th:action="@{/questionnaires/{id}/edit(id = ${questionnaire.id})}"
              th:object="${questionnaire}">

            <div id="questionnaire-title" class="bg-dark form-control-lg mt-4"
            style="text-align: center; padding-bottom: 20px; border-radius: 10px">
                <span style="font-size: 28px; color: white; margin-top: 10px">Название опросника</span>
                <br>
                <input hidden th:name="id" th:value="${questionnaire.id}">
                <label style="width: 100%">
                    <input type="text" style="width: 70%; margin-top: 15px; border-radius: 5px; min-width: 100px"
                           th:value="${questionnaire.title}"
                           required th:name="title"
                           hx-trigger="keyup changed delay:100ms"
                           hx-swap="none" th:attr = "
                           hx-get=|@{/questionnaires/{id}/edit/title(id=${questionnaire.id})}|">
                </label>
            </div>

            <div id="questions" >
                  <div th:each="question, i : ${questionnaire.questions}"  th:fragment="questions">
                      <div class="p-3" th:id="|question${question.id}|"
                           style="margin-top: 20px; background-color: #dcdcdc; border-radius: 8px;" >

                          <div th:id="|question${question.id}Header|" th:fragment="questionHeader">
                                <input hidden th:name="|questions[${i.index}].id|" th:value="${question.id}">
                                <input hidden th:name="|questions[${i.index}].questionnaireId|"
                                       th:value="${question.questionnaireId}">

                                <div class="flex-row justify-content-start d-flex" style="flex-wrap: wrap">
                                    <input class="question-text" type="text"
                                           style="width: calc(80% - 40px); border-radius: 5px; min-width: 60px"
                                           hx-trigger="keyup changed delay:300ms"
                                           th:value="${question.title}" required
                                           th:name="|questions[${i.index}].title|"
                                           hx-swap="none" th:attr = "
                                           hx-get=|@{/questionnaires/question/{questionId}/title
                                           (questionId=${question.id})}|">

                                    <div style="width: 40px">
                                        <img class="add-img-to-question-btn" src="/img/add-file.png" alt="Добавить изображение">
                                        <input type="file" class="input-file" aria-hidden="true" style="margin-top: 3px;"
                                               hx-trigger="change"
                                               hx-encoding="multipart/form-data"
                                               th:name="file"
                                               th:attr = "
                                            hx-post=|@{/questionnaires/question/{id}/image(id=${question.id}, questionIndex=${i.index})}|,
                                            hx-target=|#question${question.id}Img|">
                                    </div>

                                    <select name="question-type"
                                            hx-trigger="change"
                                            style="width: 20%; border-radius: 5px; max-width: 200px"
                                            th:name="|questions[${i.index}].questionType|"
                                            th:attr = "
                                             hx-get=|@{/questionnaires/{questionnaireId}/edit/question/{questionId}/change-type
                                             (questionnaireId=${questionnaire.id}, questionId=${question.id})}|"
                                             hx-target="#questions"
                                            class="sort-btn">
                                        <option th:each="types : ${T(nsu.fit.qyoga.core.questionnaires.api.dtos.enums.QuestionType).values()}"
                                                th:value="${types}" th:text="${types.text}"
                                                th:selected="${types.text==question.questionType.text}"></option>
                                    </select>

                                </div>

                                <div th:id="|question${question.id}Img|" style="margin-top: 20px">
                                    <div th:replace="~{/fragments/create-questionnaire-image.html :: questionImage(${question}, ${i.index}) }"></div>
                                </div>
                          </div>

                          <div th:id="|question${question.id}Body|" th:fragment="answers">
                                <div style="margin-top: 20px"
                                        th:id="|answer${question.id}|"
                                        th:each="answer,j : ${question.answers}"
                                        th:switch="${question.questionType.text}">
                                    <input hidden th:name="|questions[${i.index}].answers[${j.index}].id|" th:value="${answer.id}">
                                    <input hidden th:name="|questions[${i.index}].answers[${j.index}].questionId|" th:value="${answer.questionId}">

                                        <div th:case="one">
                                            <div class="d-flex flex-row">
                                                <img src="/img/circle.png" alt="answer type" style="width: 25px; height: 25px">
                                                <label style="width: calc(100% - 100px); margin-left: 10px">
                                                    <input style="border-radius: 5px;" class="answerText w-100" type="text" name="answer" placeholder="ответ"
                                                           th:name="|questions[${i.index}].answers[${j.index}].title|" th:value="${answer.title}"
                                                           hx-trigger="keyup changed delay:300ms"
                                                           th:attr = "
                                                           hx-get=|@{/questionnaires/answer/{answerId}/title(answerId=${answer.id})}|">
                                                </label>

                                                <div style="width: 40px">
                                                    <img class="add-img-to-question-btn" src="/img/add-file.png" alt="Добавить изображение">
                                                    <input name="file" type="file" class="input-file" aria-hidden="true" style="margin-top: 3px;"
                                                           hx-trigger="change"
                                                           hx-encoding="multipart/form-data"
                                                           th:attr = "
                                                           hx-post=|@{/questionnaires/answer/{id}/image(id=${answer.id},
                                                           questionIndex=${i.index}, answerIndex=${j.index})}|,
                                                           hx-target=|#answer${answer.id}Img|">
                                                </div>
                                                <img class="delete-answer" src="/img/cross.png" alt="delete answer" style="width: 30px; height: 30px">
                                            </div>

                                            <div th:id="|answer${answer.id}Img|" style="margin-top: 20px">
                                                <div th:replace="~{/fragments/create-questionnaire-image.html :: answerImage(${answer}, ${i.index}, ${j.index}) }"></div>
                                            </div>
                                        </div>

                                        <div th:case="several">
                                            <div class="d-flex flex-row">
                                                <img src="/img/square.png" alt="answer type" style="width: 25px; height: 25px">
                                                <label style="width: calc(100% - 100px); margin-left: 10px">
                                                    <input style="border-radius: 5px;" class="answerText w-100" type="text" name="answer" placeholder="ответ"
                                                           th:name="|questions[${i.index}].answers[${j.index}].title|" th:value="${answer.title}"
                                                           hx-trigger="keyup changed delay:300ms"
                                                           th:attr = "
                                                           hx-get=|@{/questionnaires/answer/{answerId}/title(answerId=${answer.id})}|">
                                                </label>
                                                <div style="width: 40px">
                                                    <img class="add-img-to-question-btn" src="/img/add-file.png" alt="Добавить изображение">
                                                    <input name="file" type="file" class="input-file" aria-hidden="true" style="margin-top: 3px;"
                                                           hx-trigger="change"
                                                           hx-encoding="multipart/form-data"
                                                           th:attr = "
                                                           hx-post=|@{/questionnaires/answer/{id}/image(id=${answer.id},
                                                           questionIndex=${i.index}, answerIndex=${j.index})}|,
                                                           hx-target=|#answer${answer.id}Img|">
                                                </div>
                                                <img class="delete-answer" src="/img/cross.png" alt="delete answer" style="width: 30px; height: 30px">
                                            </div>

                                            <div th:id="|answer${answer.id}Img|" style="margin-top: 20px">
                                                <div th:replace="~{/fragments/create-questionnaire-image.html :: answerImage(${answer}, ${i.index}, ${j.index}) }"></div>
                                            </div>
                                        </div>

                                    <div th:case="text" style="margin-top: 20px" >
                                        <label style="width: 100%">
                                            <input style="width: 100%; border-radius: 5px" class="answerText" type="text" name="answer" placeholder="answer" disabled="" >
                                        </label>
                                    </div>

                                    <div th:case="range" th:id="|answer${answer.id}|" class="answer" >

                                        <div class="rangeBorder">
                                            <select name="range"
                                                    hx-trigger="change"
                                                    th:name="|questions[${i.index}].answers[${j.index}].lowerBound|"
                                                    hx-swap="none"
                                                    th:attr = "
                                                    hx-post=|@{/questionnaires/{questionnaireId}/answer/{answerId}/bound
                                                           (answerId=${answer.id}, questionnaireId=${questionnaire.id})}|,
                                                    hx-target=|#questions|"
                                                    class="sortBtn" style="width: 42px">
                                                <option value="" selected disabled hidden th:text="${answer.lowerBound}">lower bound</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                            </select>
                                            <span style="margin-left: 10px">-</span>
                                            <select name="range"
                                                    hx-trigger="change"
                                                    hx-swap="none"
                                                    th:attr = "
                                                    hx-post=|@{/questionnaires/{questionnaireId}/answer/{answerId}/bound
                                                           (answerId=${answer.id}, questionnaireId=${questionnaire.id})}|,
                                                    hx-target=|#questions|"
                                                    class="sortBtn" style="width: 42px"
                                                    th:name="|questions[${i.index}].answers[${j.index}].upperBound|">
                                                <option value="" selected disabled hidden th:text="${answer.upperBound}">upper bound</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <div style="padding-top: 15px; width: 100%">
                                            <div style="display:flex; ">
                                                <div th:id="|leftBorder${answer.id}|" style="width: 20px">
                                                    <span th:text="${answer.lowerBound}">0</span>
                                                </div>
                                                <div style="width: 70%; margin-left: 20px">
                                                    <input style="border-radius: 5px; width: 100%" type="text" class="answerText"
                                                           th:value="${answer.lowerBoundText}"
                                                           hx-trigger="keyup changed delay:300ms"
                                                           hx-swap="none"
                                                           th:attr = "
                                                           hx-get=|@{/questionnaires/answer/{answerId}/boundTitle(answerId=${answer.id})}|"
                                                           th:name="|questions[${i.index}].answers[${j.index}].lowerBoundTitle|">
                                                </div>
                                            </div>
                                            <br>
                                            <div  style="display:flex; ">
                                                <div th:id="|rightBorder${answer.id}|" style="width: 20px">
                                                    <span th:text="${answer.upperBound}">2</span>
                                                </div>
                                                <div style="width: 70%; margin-left: 20px">
                                                    <input style="border-radius: 5px; width: 100%" type="text" class="answerText"
                                                           th:value="${answer.upperBoundText}"
                                                           hx-trigger="keyup changed delay:300ms"
                                                           hx-swap="none"
                                                           th:attr = "
                                                           hx-get=|@{/questionnaires/answer/{answerId}/boundTitle(answerId=${answer.id})}|"
                                                           th:name="|questions[${i.index}].answers[${j.index}].upperBoundTitle|">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div th:if="${question.questionType.text} == 'one' or ${question.questionType.text} == 'several' "
                                     class="answer"
                                     style="width: 100%; margin-top: 15px">
                                    <label style="width: 100%;">
                                        <input style="margin-left: 35px; border-radius: 5px; width: calc(100% - 103px)" class="answerText" type="text" name="answer" placeholder="нажмите, чтобы добавить новый ответ" disabled="" >
                                    </label>
                                </div>

                                <div th:id="|question${question.id}Footer|" style="border-top: 1px solid black; margin-top: 7px; padding-top: 10px; justify-content: space-between"
                                   class="d-flex flex-row">
                                  <div class="d-flex">
                                      <img src="/img/trash-icon.png" alt="delete q btn"
                                           class="delete-question"
                                           style="margin-left: 5px; cursor: pointer; width: 25px;"
                                           hx-trigger="click"
                                           th:attr = "hx-delete=|@{/questionnaires/edit/{questionId}(questionId=${question.id})}|"
                                           hx-target="#questions">
                                  </div>
                                  <div class="d-flex"
                                       th:if="'range' != ${question.questionType.text} and 'text' != ${question.questionType.text}">
                                      <button type="button"
                                              style=" border-radius: 5px; color: black; padding: 2px; text-decoration: none;background-color: #c2c2c2; cursor: pointer;"
                                              th:attr = "hx-get=|@{/questionnaires/question/{id}/setScores(id=${question.id})}|,
                                            hx-target=|#question${question.id}|">Задать баллы</button>
                                  </div>
                              </div>

                          </div>

                      </div>
                  </div>
            </div>

            <div class="position-fixed bottom-0 start-0 w-100 text-end bg-white"
                 style="height: 75px; box-sizing: border-box; padding-top: 10px; padding-right: 5%;">
                <button class="btn btn-secondary" type="submit" style="height: 50px">Задать ключи</button>
            </div>

        </form>


        <div class="position-fixed bottom-0" style="margin-bottom: 5rem; margin-left: 3%">
            <input type="image" width="60px" src="/img/plus-in-circle.png" alt="Добавить новый вопрос"
                   hx-trigger="click"
                   hx-swap="outerHTML"
                   th:attr="hx-get=|@{/questionnaires/{id}/edit/add-question(id=${questionnaire.id})}|"
                   hx-target="#questions">
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
</body>
</html>