<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Результаты опросника</title>
    <link href="/styles/input-number-style.css" rel="stylesheet">
</head>

<body class="sb-nav-fixed sb-sidenav-toggled">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">

        <div id="tableDecoding">

            <div id="main-container" style="margin-bottom: 80px">

                <div class="container-fluid px-4">
                    <h1 class="mt-4">Результаты опросника</h1>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Результаты опросника
                        </div>
                        <div class="card-body" id="card-body" style="overflow: auto">
                            <div th:fragment="page-content">
                                <table style="width: 100%; border-spacing: 0 10px" >
                                    <caption style="padding-bottom: 5px; font-size: 22px"></caption>
                                    <thead>
                                    <tr>
                                        <th style="text-align: center; width: 10%">Минимальное значение</th>
                                        <th style="text-align: center; width: 10%">Максимальное значение</th>
                                        <th style="text-align: center; width: 65%">Результат</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableBody" style="gap: 10px">
                                    <tr th:each="result, i : ${questionnaire.decoding}" th:fragment="tableDecoding" class="decodingRow">
                                        <td style="text-align: center">
                                            <input type="number" disabled=""
                                                   th:id="|decoding${i.index}LowerBound|"
                                                   style="border-radius: 5px; width: 50%; text-align: center; background-color: white"
                                                   th:value="${result.lowerBound}"/>
                                        </td>
                                        <td style="text-align: center">
                                            <input type="number" disabled=""
                                                   th:id="|decoding${i.index}UpperBound|"
                                                   style="border-radius: 5px; width: 50%; text-align: center; background-color: white"
                                                   th:value="${result.upperBound}"/>
                                        </td>
                                        <td style="text-align: center">
                                            <input type="text" style="border-radius: 5px; width: 100%; background-color: white"
                                                   disabled=""
                                                   th:id="|decoding${i.index}Result|"
                                                   th:value="${result.result}"
                                                   th:name="|decoding[${i.index}].result|"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="position-fixed bottom-0 start-0 w-100 text-end bg-white"
                 style="display: flex; flex-direction: row;">
                <form style="height: 75px; box-sizing: border-box; padding-top: 10px;
                      margin-left: auto; margin-right: 0;"
                      id="watch-questionnaire-btn"
                      th:method="GET"
                      th:action="@{/therapist/questionnaires/{questionnaireId}(questionnaireId = ${questionnaire.id})}">
                    <button class="btn btn-secondary" type="submit" style="height: 50px">Опросник</button>
                </form>
                <form style="height: 75px; box-sizing: border-box; padding-top: 10px; padding-left: 1.5rem;
                      padding-right: 1.5rem;"
                      id="end-watching-btn"
                      th:method="GET"
                      th:action="@{/therapist/questionnaires}">
                    <button class="btn btn-secondary" id="saveBtn" type="submit" style="height: 50px">Закончить просмотр</button>
                </form>
            </div>
        </div>

    </div>
</div>
<footer class=" bg-light mt-auto" th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>