<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Список опросников</title>
    <style>
        .dot {
            border-radius: 50%;
            height: 6px;
            width: 6px;
            background: black;
            margin: 4px auto;
        }
        .dot-wrapper {
            width: 20px;
        }
        .dot { display: none; }
        .row:hover .dot { display: block; }
        .row:hover .field { font-size: 18px }
    </style>
</head>

<body class="sb-nav-fixed sb-sidenav-toggled" style="height: 100%">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav" style="height: 100%">

    <div th:replace="~{fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <div style="display: flex; justify-content:space-between; flex-direction: row; margin-top: 10px">
                    <h1 >Опросники</h1>
                    <div class="navbar">
                        <form class="input-group mx-3" th:action="@{/therapist/questionnaires/performing}" th:method="GET"
                              style="height: 40px; width: auto;">
                            <button class="btn btn-secondary" type="submit">Прохождения</button>
                        </form>
                        <form class="input-group " th:action="@{/therapist/questionnaires/new}" th:method="GET"
                              style="height: 40px; width: auto;">
                            <button class="btn btn-secondary" type="submit">Новый опросник</button>
                        </form>
                    </div>
                </div>
                <div th:fragment="page-content" id="page-content">

                    <div class="input-group bg-dark" style="flex-direction: row; flex-wrap: wrap; border-radius: 0.25rem;
                         padding: 10px 10px 20px 10px; margin-top: 10px">
                        <div class="me-auto" id="questionnaires-find-bar"
                             style="width: calc(100% - 240px); min-width: 210px; height: 40px; margin-top: 10px">
                            <input aria-describedby="basic-addon2"
                                   hx-target="#page-content"
                                   placeholder="Название опросника"
                                   class="form-control"
                                   style="border-color:inherit; height: 40px"
                                   th:attr="hx-get=@{/therapist/questionnaires/action(sort=${'title,'+sortType})}"
                                   th:field="*{questionnaireSearchDto.title}"
                                   hx-trigger="keyup changed delay:500ms, search"
                                   th:value="${questionnaireSearchDto.title}"
                                   type="text">
                        </div>
                        <div class="input-group" id="questionnaires-sort-bar"
                             style="width: 220px; margin-top: 10px">
                            <div class="input-group-prepend w-auto float-md-end" style="height: 40px">
                                <label class="input-group-text" for="sort-type-select" style="height: 40px">Сортировка:</label>
                            </div>
                            <select class="custom-select w-auto float-md-end" hx-params="*"
                                    hx-target="#page-content"
                                    style="height: 40px; border-radius: 5px"
                                    id="sort-type-select"
                                    hx-trigger="change"
                                    th:attr="hx-get=@{/therapist/questionnaires/action(title=${questionnaireSearchDto.title}, page=${0})}"
                                    th:name="sort">
                                <option th:if="${sortType} == 'ASC'" selected disabled hidden>От А до Я</option>
                                <option th:if="${sortType} == 'DESC'" selected disabled hidden>От Я до А</option>
                                <option value='title,asc'>От А до Я</option>
                                <option value='title,desc'>От Я до А</option>
                            </select>
                        </div>
                    </div>

                    <div class="card" style="margin-top: 10px">
                        <div class="card-header" style="height: 40px;">
                            <i class="fas fa-table me-1"></i>
                            Список опросников
                        </div>
                        <div class="card-body" id="card-body" style="overflow: auto" >
                            <div id="tablePag" style="margin-top: 20px">

                                <div th:fragment="pagination-content" style="overflow: auto">
                                    <table style="width: 100%; border-spacing: 0 10px" class="table table-hover" id="questionnaires-list">
                                        <thead></thead>
                                        <tbody style="gap: 10px">
                                        <tr class="questionnaire" th:each="questionnaire : ${questionnaires.content}"
                                            th:fragment="questionnaires">
                                            <td class="row" style="width: 100%">
                                                <div style="display: inline-block; width: calc(100% - 40px)">
                                                    <a class="field"
                                                       th:href="@{/therapist/questionnaires/{id}(id=${questionnaire.id})}" th:text="${questionnaire.title}">
                                                        questionnaire
                                                    </a>
                                                </div>
                                                <div class="dot-wrapper" style="display: inline-block;">
                                                    <div class="dot"></div>
                                                    <div class="dot"></div>
                                                    <div class="dot"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="questionnaires-navigation-bar" style="height: 50px">
                                    <ul class="pagination justify-content-center">
                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${(questionnaires.getPageable().pageNumber == 0) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#page-content"
                                                   hx-swap = "outerHTML"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/therapist/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${0})}"
                                                >Первая</a>
                                            </li>
                                        </div>

                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${(questionnaires.getPageable().pageNumber == 0) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#page-content"
                                                   hx-swap = "outerHTML"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/therapist/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${questionnaires.getPageable().pageNumber - 1})}"
                                                >Назад</a>
                                            </li>
                                        </div>

                                        <div class="pagination" style="max-width: 50%;">

                                            <li class="page-item"
                                                th:classappend="${(pageNumber == questionnaires.getPageable().pageNumber + 1) ? 'active' : ''}"
                                                th:each="pageNumber : ${#numbers.sequence(((questionnaires.getPageable().pageNumber - 1 >= 0)? questionnaires.getPageable().pageNumber: questionnaires.getPageable().pageNumber + 1), ((questionnaires.getPageable().pageNumber + 3 < questionnaires.totalPages)? questionnaires.getPageable().pageNumber + 2 : questionnaires.totalPages), 1)}">
                                                <a class="page-link"
                                                   hx-target="#page-content"
                                                   hx-swap = "outerHTML"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/therapist/questionnaires/action(page=${pageNumber - 1}, sort=${'title,'+sortType}, title=${questionnaireSearchDto.title})}"
                                                   th:text="${pageNumber}"></a>
                                            </li>
                                        </div>

                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${!(questionnaires.getPageable().pageNumber < questionnaires.totalPages - 1) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#page-content"
                                                   hx-swap = "outerHTML"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/therapist/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${questionnaires.getPageable().pageNumber + 1})}"
                                                >Вперед</a>
                                            </li>
                                        </div>

                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${!(questionnaires.getPageable().pageNumber < questionnaires.totalPages - 1) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#page-content"
                                                   hx-swap = "outerHTML"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/therapist/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${questionnaires.totalPages - 1})}"
                                                >Последняя</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto" th:insert="~{fragments/footer.html :: footer}"></footer>
    </div>
</div>
</body>
</html>