<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
    <title>Список упражнений</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/upload-file-style.css" rel="stylesheet">
    <link href="/styles/input-number-style.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
            src="https://unpkg.com/htmx.org@1.8.6">
    </script>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{/fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">

        <form id="tableDecoding" th:method="POST" th:action="@{/questionnaires/setResults}" th:object="${results}">

            <div id="main-container" style="margin-bottom: 80px">

                <div class="container-fluid px-4">
                    <h1 class="mt-4">Результаты опросника</h1>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Результаты опросника
                        </div>
                        <div class="card-body" id="card-body" style="overflow: auto">
                            <div th:fragment="page-content">
                                <table style="width: 100%; border-spacing: 0 10px" >
                                    <caption style="padding-bottom: 5px; font-size: 22px"></caption>
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; width: 10%">Минимальное значение</th>
                                            <th style="text-align: center; width: 10%">Максимальное значение</th>
                                            <th style="text-align: center; width: 65%">Результат</th>
                                            <th style="text-align: center; width: 15%">Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableBody" style="gap: 10px">
                                        <tr th:each="result, i : ${results.decodingDtoList}" th:fragment="tableDecoding" class="decodingRow">
                                            <input type="hidden" th:value="${result.id}" th:name="|decodingDtoList[${i.index}].id|">
                                            <input type="hidden" th:value="${result.questionnaireId}" th:name="|decodingDtoList[${i.index}].questionnaireId|">
                                            <td style="text-align: center">
                                                <input type="number" min="0" oninput="validity.valid||(value='');"
                                                       class="field" style="border-radius: 5px; width: 50%; text-align: center"
                                                       th:value="${result.lowerBound}"
                                                       th:name="|decodingDtoList[${i.index}].lowerBound|"
                                                       hx-trigger="keyup changed delay:500ms, search"
                                                       hx-swap="none"
                                                       th:attr = "
                                                       hx-post=|@{/questionnaires/setResults/{resultId}/update
                                                       (resultId=${result.id})}|"/>
                                            </td>
                                            <td style="text-align: center">
                                                <input type="number" min="0" oninput="validity.valid||(value='');"
                                                       class="field" style="border-radius: 5px; width: 50%; text-align: center"
                                                       th:value="${result.upperBound}"
                                                       th:name="|decodingDtoList[${i.index}].upperBound|"
                                                       hx-trigger="keyup changed delay:500ms, search"
                                                       hx-swap="none"
                                                       th:attr = "
                                                       hx-post=|@{/questionnaires/setResults/{resultId}/update
                                                       (resultId=${result.id})}|"/>
                                            </td>
                                            <td style="text-align: center">
                                                <input type="text" class="field" style="border-radius: 5px; width: 100%"
                                                       th:value="${result.result}"
                                                       th:name="|decodingDtoList[${i.index}].result|"
                                                       hx-trigger="keyup changed delay:500ms, search"
                                                       hx-swap="none"
                                                       th:attr = "
                                                       hx-post=|@{/questionnaires/setResults/{resultId}/update
                                                       (questionnaireId=${result.questionnaireId} ,resultId=${result.id})}|"/>
                                            </td>
                                            <td>
                                                <button class="field" style="cursor: pointer; width: 100%; border-radius: 5px"
                                                        hx-target="#tableBody"
                                                        th:attr="hx-delete=|@{/questionnaires/{questionnaireId}/setResults/{resultId}
                                                        (questionnaireId=${questionnaireId}, resultId=${result.id})}|">
                                                    Удалить
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr style="margin-top: 10px">
                                        <td colspan="4" class="col">
                                            <button class="field" style="cursor: pointer; width: 100%; border-radius: 5px" type="button"
                                                    hx-trigger="click"
                                                    id="addDecodingBtn"
                                                    th:attr="hx-get=|@{/questionnaires/{questionnaireId}/setResults/addResult(questionnaireId=${questionnaireId})}|"
                                                    hx-target="#tableBody"
                                            >Нажмите для добавления строки</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="position-fixed bottom-0 start-0 w-100 text-end bg-white"
                 style="height: 75px; box-sizing: border-box; padding-top: 10px; padding-right: 1.5rem;">
                <button class="btn btn-secondary" id="saveBtn" type="submit" style="height: 50px">Сохранить</button>
            </div>

        </form>

    </div>
</div>

<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
</body>
</html>