<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header.html}"></div>
    <title>Упражнение</title>
    <link href="/styles/upload-file-style.css" rel="stylesheet">
    <link href="/styles/input-number-style.css" rel="stylesheet">
</head>

<body class="sb-nav-fixed sb-sidenav-toggled">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">


        <div id="questionnaire" style="padding-left: 15%; padding-right: 15%; margin-bottom: 100px">

            <div id="questionnaire-title" class="bg-dark form-control-lg mt-4"
                 style="text-align: center; padding-bottom: 20px; border-radius: 10px">
                <input style="width: 90%; background-color: white; margin-top: 15px;
                border-radius: 5px; min-width: 100px; overflow: auto; text-align: center"
                       th:value="${questionnaire.title}" disabled="">

            </div>

            <div id="questions" >
                <div th:each="question, i : ${questionnaire.question}"
                     th:fragment="questions" th:id="|question${question.id}|">
                    <div th:replace="~{fragments/questionnaire-answer::question(${question})}"></div>
                </div>
            </div>

            <div class="position-fixed bottom-0 start-0 w-100 text-end bg-white"
                 style="display: flex; flex-direction: row;">
                <form style="height: 75px; box-sizing: border-box; padding-top: 10px;
                margin-left: auto; margin-right: 0;"
                      th:method="GET"
                      th:action="@{/therapist/questionnaires/{questionnaireId}/decoding(questionnaireId = ${questionnaire.id})}">
                    <button class="btn btn-secondary" type="submit" style="height: 50px">Посмотреть ключи</button>
                </form>
                <form style="height: 75px; box-sizing: border-box; padding-top: 10px; padding-left: 1.5rem;
                padding-right: 1.5rem;"
                      th:method="GET"
                      th:action="@{/therapist/questionnaires}">
                    <button class="btn btn-secondary" id="saveBtn" type="submit" style="height: 50px">Закончить просмотр</button>
                </form>
            </div>


        </div>
    </div>
</div>

<footer class="py-4 bg-light mt-auto" th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>