<div th:id="|question${question.id}Body|" th:fragment="answersScore (questionIndex)">
    <div style="margin-top: 20px"
         th:id="|answer${question.id}|"
         th:each="answer,j : ${question.answers}"
         th:switch="${question.questionType.name}">
        <input hidden th:name="|questions[${questionIndex}].answers[${j.index}].id|" th:value="${answer.id}">
        <input hidden th:name="|questions[${questionIndex}].answers[${j.index}].questionId|" th:value="${answer.questionId}">

        <div th:case="SINGLE">
            <div class="d-flex flex-row">
                <img src="/img/circle.png" alt="answer type" style="width: 25px; height: 25px">
                <label style="width: calc(100% - 100px); margin-left: 10px">
                    <input style="border-radius: 5px;" class="answerText w-100" type="text" name="answer" placeholder="ответ"
                           th:name="|questions[${questionIndex}].answers[${j.index}].title|"
                           th:value="${answer.title}">
                </label>
                <input style="width: 50px;height: 28px; margin-left: 20px; border-radius: 5px"
                       type="number" min="0" max="100" value="0" oninput="validity.valid||(value='');"
                       th:value="${answer.score}"
                       th:name="|questions[${questionIndex}].answers[${j.index}].score|"
                       hx-trigger="keyup changed delay:700ms, search"
                       th:attr = "
                       hx-post=|@{/questionnaires/question/{questionId}/answer/{answerId}/update
                       (questionId=${question.id},answerId=${answer.id})}|">
            </div>

            <div th:id="|answer${answer.id}Img|" style="margin-top: 20px">
                <div th:replace="~{/fragments/create-questionnaire-image.html :: answerImage(${answer}, ${questionIndex}, ${j.index}) }"></div>
            </div>
        </div>

        <div th:case="SEVERAL">
            <div class="d-flex flex-row">
                <img src="/img/square.png" alt="answer type" style="width: 25px; height: 25px">
                <label style="width: calc(100% - 100px); margin-left: 10px">
                    <input style="border-radius: 5px;" class="answerText w-100" type="text" name="answer" placeholder="ответ"
                           th:name="|questions[${questionIndex}].answers[${j.index}].title|"
                           th:value="${answer.title}">
                </label>
                <input style="width: 50px;height: 28px; margin-left: 20px; border-radius: 5px"
                       type="number" min="0" max="100" value="0" oninput="validity.valid||(value='');"
                       th:value="${answer.score}"
                       th:name="|questions[${questionIndex}].answers[${j.index}].score|"
                       hx-trigger="keyup changed delay:700ms, search"
                       th:attr = "
                       hx-post=|@{/questionnaires/question/{questionId}/answer/{answerId}/update
                       (questionId=${question.id},answerId=${answer.id})}|">
            </div>

            <div th:id="|answer${answer.id}Img|" style="margin-top: 20px">
                <div th:replace="~{/fragments/create-questionnaire-image.html :: answerImage(${answer}, ${questionIndex}, ${j.index}) }"></div>
            </div>
        </div>

    </div>

    <div th:id="|question${question.id}Footer|" style="border-top: 1px solid black; margin-top: 7px; padding-top: 10px; justify-content: space-between"
         class="d-flex flex-row">
        <div class="d-flex" style="position: relative; width: 100%; height: 26px">
            <button type="button"
                    style=" border-radius: 5px; color: black; padding: 2px; text-decoration: none;background-color: #c2c2c2; cursor: pointer; position: absolute; right: 0"
                    th:attr = "
                    hx-post=|@{/questionnaires/question/{id}/setAnswers
                    (id=${question.id}, questionIndex=${questionIndex})}|,
                    hx-target=|#question${question.id}|">Сохранить</button>
        </div>
    </div>

</div>
