<div th:fragment="questionImage (question, questionIndex)"
     th:if="${question.imageId} != null">
    <input class="questionImageId" hidden th:name="'question['+${questionIndex}+'].imageId'"
           th:value="${question.imageId}">
    <img class="questionImage" th:src="@{'/therapist/questionnaires/image/'+${question.imageId}}" width="250">
    <img class="questionDeleteImage" src="/img/cross-in-circle.png" alt="delete image"
         style="position: absolute; width: 25px; margin-top: -13px; margin-left: -13px;"
         th:attr = "
         hx-delete=|@{/therapist/questionnaires/edit/question/{questionId}/image/{imageId}
         (questionId=${question.id}, imageId=${question.imageId})}|,
         hx-target=|#question${question.id}Img|">
</div>

<div th:fragment="answerImage (answer, questionIndex, answerIndex, questionId)"
     th:if="${answer.imageId} != null">
    <input class="answerImageId" hidden th:name="'question['+${questionIndex}+'].answers['+${answerIndex}+'].imageId'"
           th:value="${answer.imageId}">
    <img class="answerImage" th:src="@{'/therapist/questionnaires/image/'+${answer.imageId}}" width="250">
    <img class="answerDeleteImage" src="/img/cross-in-circle.png" alt="delete image"
         style="position: absolute; width: 25px; margin-top: -13px; margin-left: -13px;"
         th:attr = "
         hx-delete=|@{/therapist/questionnaires/edit/question/{questionId}/answer/{answerId}/image/{imageId}
         (answerId=${answer.id}, questionId=${questionId}, imageId=${answer.imageId})}|,
         hx-target=|#question${questionId}answer${answer.id}Img|">
</div>