<div class="container-fluid px-4" th:fragment="footer">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; Trainer Advisor 2023</div>
        <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
        </div>
    </div>

    <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</div>