<div id="layoutSidenav_nav" th:fragment="leftNavPanel">
    <nav class="sb-sidenav accordion sb-sidenav-light d-flex flex-column flex-shrink-0 ps-3 pe-3 bg-body-tertiary"
         id="sidenavAccordion">

        <ul class="nav nav-pills flex-column mb-auto mt-3">

            <li>
                <div class="navbar-text bold">
                    <small>
                        <strong>
                            Работа
                        </strong>
                    </small>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link link-body-emphasis" href="/therapist/clients" id="clientsPageLink">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-users me-2 icon"></i>
                        </div>
                        <div class="col">
                            Клиенты
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <div class="navbar-text bold">
                    <small>
                        <strong>
                            Справочники
                        </strong>
                    </small>
                </div>
            </li>

            <li>
                <a class="nav-link link-body-emphasis" href="/therapist/therapeutic-tasks"
                   id="therapeuticTasksPageLink">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-bullseye me-2 icon"></i>
                        </div>
                        <div class="col">
                            Терапевтические задачи
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link link-body-emphasis" href="/therapist/exercises" id="exercisesPageLink">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-pray me-2 icon"></i>
                        </div>
                        <div class="col">
                            Упражнения
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <div class="navbar-text bold">
                    <small>
                        <strong>
                            Аккаунт
                        </strong>
                    </small>
                </div>
            </li>

            <li>
                <a class="nav-link link-body-emphasis" href="/logout" id="logoutLink">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-sign-out me-2 icon"></i>
                        </div>
                        <div class="col">
                            Выйти
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </nav>
</div>
