<div id="layoutSidenav_nav" th:fragment="leftNavPanel">
    <nav class="sb-sidenav accordion sb-sidenav-light " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/therapist/clients">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Клиенты
                    <div class="sb-sidenav-collapse-arrow"></div>
                </a>
                <a class="nav-link" href="/therapist/exercises">
                    <div class="sb-nav-link-icon"><i class="fas fa-pray"></i></div>
                    Упражнения
                </a>

                <div class="sb-sidenav-menu-heading">
                    <hr/>
                </div>

                <a class="nav-link" href="/logout">Выйти</a>
            </div>
        </div>
    </nav>
</div>
