<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Аутентификация</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<main class="main">
    <div class="container">
        <img src="/img/yoga-auth.svg" alt="Auth-y" class="img-yoga">
        <div class="card">
            <h2 class="title">
                Авторизация
            </h2>
            <div th:if="${param.error}">
                Invalid username and password.</div>
            <form th:action="@{/users/login}" method="post" class="auth-data">
                <h1 class="subtitle-login">
                    Электронная почта
                </h1>
                <div class="auth-data-div">
                    <input type="text" class="input-login" placeholder="Логин" name="username" id="login" required>
                </div>
                <p class="subtitle-password">
                    Пароль
                </p>
                <div class="auth-data-div">
                    <input type="password"  class="input-password" placeholder="Пароль" name="password" id="password" required>
                </div>
                <button type="submit" class="enter-button">Войти</button>
            </form>

        </div>
    </div>
</main>