
<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header::header (titleName=${'Список клиентов'})}"></div>
</head>

<body class="sb-nav-fixed">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Клиенты</h1>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Список клиентов
                    </div>
                    <div class="card-body">

                        <form hx-get="/clients/search-cl" hx-target="#tablePagination"
                              hx-trigger="submit"
                              th:object="${searchDto}">
                            <div class="input-group mb-3 m-auto" id="searchClientsFilterForm">
                                <div class="mt-3 mb-3 w-25" id="lastnameFilter">
                                    <input aria-describedby="basic-addon2"
                                           class="form-control"
                                           placeholder="Фамилия"
                                           style="border-color:inherit"
                                           th:field="${searchDto.lastName}"
                                           type="text">
                                </div>

                                <div class="mt-3 mb-3 w-25" id="firstnameFilter">
                                    <input aria-describedby="basic-addon2"
                                           class="form-control"
                                           placeholder="Имя"
                                           style="border-color:inherit"
                                           th:field="${searchDto.firstName}"
                                           type="text">
                                </div>

                                <div class="mt-3 mb-3 w-25" id="patronymicFilter">
                                    <input aria-describedby="basic-addon2"
                                           class="form-control"
                                           placeholder="Отчество"
                                           style="border-color:inherit"
                                           th:field="${searchDto.patronymic}"
                                           type="text">
                                </div>

                                <div class="mt-3 mb-3 w-25" id="phoneFilter">
                                    <input aria-describedby="basic-addon2"
                                           class="form-control"
                                           placeholder="Номер телефона"
                                           style="border-color:inherit"
                                           th:field="${searchDto.phoneNumber}" type="text">
                                </div>

                                <div class="mt-3 mb-3 w-25" id="diagnoseFilter">
                                    <input aria-describedby="basic-addon2"
                                           class="form-control"
                                           placeholder="Диагноз"
                                           style="border-color:inherit"
                                           th:field="${searchDto.diagnose}" type="text">
                                </div>

                                <div class="mt-3 mb-3 w-25" id="lastAppointmentFilter">
                                    <input aria-describedby="basic-addon2"
                                           class="form-control"
                                           placeholder="Дата приема"
                                           style="border-color:inherit"
                                           th:field="${searchDto.appointmentDate}" type="date">
                                </div>

                                <div class="input-group mt-2 mb-5">
                                    <button class="btn btn-secondary" style="position: absolute" type="submit">Поиск
                                    </button>
                                </div>

                            </div>

                        </form>

                        <div id="tablePagination" th:fragment="clients">

                            <table class="table table-hover" id="clientsTable" th:fragment="clients-table">
                                <thead>
                                <tr>
                                    <th>ФИО</th>
                                </tr>
                                </thead>
                                <tbody id="clients-list">
                                <tr th:each="client : ${clients.content}">
                                    <td th:text="${client.lastName}"></td>
                                    <td th:text="${client.firstName}"></td>
                                    <td th:text="${client.patronymic}"></td>
                                    <td>
                                        <button class="btn btn-danger" id="btnDeleteClient" hx-target="closest tr" hx-swap="outerHTML swap:1s"  th:attr="hx-delete=@{/clients/delete/{id} (id=${client.id})}">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div id="pagination">

                                <ul class="pagination justify-content-center">
                                    <div class="pagination">
                                        <li class="page-item"
                                            th:classappend="${(clients.getPageable().pageNumber == 0) ? 'disabled' : ''}">
                                            <a class="page-link"
                                               hx-target="#tablePagination"
                                               hx-trigger="click"
                                               style="cursor: pointer"
                                               th:attr="hx-get=@{/clients/search-cl(pageNumber=${clients.getPageable().pageNumber}, searchDto=${searchDto})}"
                                               th:if="${clients.getPageable().pageNumber >= 1}"
                                            >Назад</a>
                                        </li>
                                    </div>

                                    <div class="pagination"
                                         th:each="pageNumber : ${#numbers.sequence(1, clients.getTotalPages(), 1)}"
                                         th:if="${clients.totalPages > 0}">
                                        <li class="page-item"
                                            th:classappend="${pageNumber == (clients.getPageable().pageNumber + 1)} ? 'active' : ''">
                                            <a class="page-link"
                                               hx-target="#tablePagination"
                                               hx-trigger="click"
                                               style="cursor: pointer"
                                               th:attr="hx-get=@{/clients/search-cl(pageNumber=${pageNumber}, searchDto=${searchDto})}"
                                               th:text="${pageNumber}"></a>
                                        </li>
                                    </div>

                                    <div class="pagination">
                                        <li class="page-item"
                                            th:classappend="${!(clients.getPageable().pageNumber < clients.totalPages) ? 'disabled' : ''}">
                                            <a class="page-link"
                                               hx-target="#tablePagination"
                                               hx-trigger="click"
                                               style="cursor: pointer"
                                               th:attr="hx-get=@{/clients/search-cl(pageNumber=${clients.getPageable().pageNumber + 2}, searchDto=${searchDto})}"
                                               th:if="${clients.getPageable().pageNumber < clients.totalPages - 1}"
                                            >Вперед</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="input-group">
                    <a href="/clients/new-client">
                        <button class="btn btn-secondary" id="btnNewClient" type="button">
                            Добавить клиента
                        </button>
                    </a>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto" th:insert="~{/fragments/footer.html :: footer}"></footer>
    </div>
</div>

<div w3-include-html=""></div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
</body>
</html>