<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
    <title>Список упражнений</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <script crossorigin="anonymous" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            src="https://unpkg.com/htmx.org@1.8.5"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="exercise-search.html">QYoga</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" href="#!" id="sidebarToggle"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown"
               role="button"><i class="fas fa-user fa-fw"></i></a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" href="#">Выйти</a></li>
            </ul>
        </li>
    </ul>

</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light " id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Основные разделы</div>
                    <a class="nav-link" href="exercise-search.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                        Главная
                    </a>
                    <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapseLayouts"
                       data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                        Клиенты
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>

                    <a aria-controls="collapsePages" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapsePages"
                       data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Программы
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-pray"></i></div>
                        Упражнения
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                        Расписание
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-hat-wizard"></i></div>
                        Волшебник авто
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fa fa-magic"></i></div>
                        Ручной волшебник
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                        Опросы
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-hand-holding-medical"></i></div>
                        Приемы
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small"></div>
                Малахова Мария
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Упражнения</h1>


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Список упражнений
                    </div>
                    <div class="card-body">

                        <div class="input-group mb-3 m-auto">
                            <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                   class="form-control"
                                   placeholder="Название" type="text">
                            <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                   class="form-control"
                                   placeholder="Противопоказание" type="text">
                            <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                   class="form-control"
                                   placeholder="Длительность" type="text">
                            <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                   class="form-control"
                                   placeholder="Терапевтическая задача" type="text">


                            <div class="input-group mb-3 mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Категории</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>Тип упражнения</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                        </div>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Противопоказания</th>
                                <th>Длительность</th>
                                <th>Тип упражнения</th>
                                <th>Терапевтическая задача</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Растяжка спины</td>
                                <td>Отсутствуют</td>
                                <td>1 час</td>
                                <td>Растяжка</td>
                                <td>Снятие боли</td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item "><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="input-group">
                    <button class="btn btn-secondary" id="btnNewExercise" type="button">Новое упражнение</button>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; QYoga 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<div w3-include-html=""></div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
</body>
</html>
