<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

<link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
<link href="/styles/bootstrap/bootstrap.css" rel="stylesheet"/>
<link href="/styles/left-panel.css" rel="stylesheet"/>
<link href="/styles/styles-qyoga.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/htmx-1.9.10.min.js"></script>

<script defer src="/js/alipnejs-mask.min.js"></script>
<script defer src="/js/alpinejs.min.js"></script>

<script src="/js/toggle-left-panel.js"></script>

