<div id="layoutSidenav_nav" th:fragment="leftNavPanel (activeLink)">
    <nav class="sb-sidenav accordion sb-sidenav-light d-flex flex-column flex-shrink-0 ps-3 pe-3 bg-body-tertiary"
         id="sidenavAccordion">

        <ul class="nav nav-pills flex-column mb-auto mt-3">

            <li>
                <div class="navbar-text bold">
                    <small>
                        <strong>
                            Работа
                        </strong>
                    </small>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="/therapist/schedule"
                   id="schedulePageLink"
                   th:classappend="${activeLink == 'schedule'} ? 'active' : ''">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-calendar me-2 icon"></i>
                        </div>
                        <div class="col">
                            Расписание
                        </div>
                    </div>
                </a>
            </li>


            <li class="nav-item">
                <a
                        class="nav-link"
                        href="/therapist/clients"
                        id="clientsPageLink"
                        th:classappend="${activeLink == 'clients'} ? 'active' : ''">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-users me-2 icon"></i>
                        </div>
                        <div class="col">
                            Клиенты
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a
                        class="nav-link"
                        href="/therapist/programs"
                        id="programsPageLink"
                        th:classappend="${activeLink == 'programs'} ? 'active' : ''">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-file-lines me-2 icon"></i>
                        </div>
                        <div class="col">
                            Программы
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <div class="navbar-text bold">
                    <small>
                        <strong>
                            Справочники
                        </strong>
                    </small>
                </div>
            </li>

            <li>
                <a class="nav-link"
                   href="/therapist/therapeutic-tasks"
                   id="therapeuticTasksPageLink"
                   th:classappend="${activeLink == 'therapeuticTasks'} ? 'active' : ''">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-bullseye me-2 icon"></i>
                        </div>
                        <div class="col">
                            Терапевтические задачи
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link"
                   href="/therapist/exercises"
                   id="exercisesPageLink"
                   th:classappend="${activeLink == 'exercises'} ? 'active' : ''">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-pray me-2 icon"></i>
                        </div>
                        <div class="col">
                            Упражнения
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-star me-2 icon"></i>
                        </div>
                        <div class="col">
                            Особенности
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-bolt me-2 icon"></i>
                        </div>
                        <div class="col">
                            Эффекты
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-hand me-2 icon"></i>
                        </div>
                        <div class="col">
                            Манипуляции
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-list-check me-2 icon"></i>
                        </div>
                        <div class="col">
                            Опросники
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <div class="navbar-text bold">
                    <small>
                        <strong>
                            Аккаунт
                        </strong>
                    </small>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="/therapist/account/settings"
                   id="settingsLink"
                   th:classappend="${activeLink == 'settings'} ? 'active' : ''">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-gear me-2 icon"></i>
                        </div>
                        <div class="col">
                            Настройки
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a class="nav-link" href="/logout" id="logoutLink">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-sign-out me-2 icon"></i>
                        </div>
                        <div class="col">
                            Выйти
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </nav>
</div>
