<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
    <title>Список программ</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }
        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
            src="https://unpkg.com/htmx.org@1.8.6"></script>
</head>
<body class="sb-nav-fixed" id="body">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{/fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Программы</h1>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-book-open me-1"></i>
                        Просмотр программы
                    </div>
                    <div class="card-body">
                        <div class="input-group-prepend w-100">
                            <h5 class="mt-2">Название программы</h5>
                            <label class="input-group-text display-2" id="program"
                                   th:text="${program.title}"></label>
                        </div>


                        <h4 class="mt-4">Упражнения</h4>

                        <div id="exercises" th:each="ex: ${program.exercises}">
                            <div class="border bg-light p-3 mb-2" id="exercise" style="border-radius: 5px;">
                                <h5 class="">Упражнение</h5>
                                <div class="input-group">
                                    <span class="form-label h-100 mt-1">Название:</span>
                                    <label class="input-group-text h-100 mx-2 " th:text="${ex?.title}"></label>
                                </div>
                                <div class="input-group mt-2">
                                    <span class="form-label h-100 mt-1">Задача:</span>
                                    <label class="input-group-text h-100 mx-2 "
                                           th:text="${ex?.therapeuticPurpose}"></label>
                                </div>
                                <div class="input-group mt-2">
                                    <span class="form-label h-100 mt-1">Описание:</span>
                                    <label class="input-group-text h-100 mx-2"
                                           th:if="${ex?.description != ''}"
                                           th:text="${ex?.description}"></label>
                                </div>
                                <div class="input-group mt-2">
                                    <span class="form-label h-100 mt-1">Тип:</span>
                                    <label class="input-group-text h-100 mx-2 "
                                           th:text="${ex?.exerciseType?.title}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="input-group-prepend w-100">
                            <h5 class="mt-2">Назначено</h5>
                            <label class="input-group-text display-2" id="client">Имя и Фамилия Клиента</label>
                        </div>

                    </div>

                    <div class="col-12 w-100 mb-3 mt-3" id="buttons">
                        <button class="btn btn-secondary float-end mx-2" hx-target="#body"
                                hx-trigger="click"
                                id="btnDownload"
                                th:attr="hx-post=@{/programs/{id}/download(id=${program.id})}">
                            Скачать
                        </button>
                        <button class="btn btn-secondary float-end mx-2 "
                                id="btnCancel" type="button">Редактировать
                        </button>
                    </div>

                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto" th:insert="~{/fragments/footer.html :: footer}"></footer>

        </footer>
    </div>
</div>

<div w3-include-html=""></div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
</body>
</html>
