<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Поиск упражнения</title>
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a class="logo" href="#">
                <img src="logo.png">
                <span class="nav-item">Qyoga</span>
            </a></li>

            <li><a class="menu-item" href="#">
                <img src="home.png">
                <span class="nav-item">Главная</span>
            </a></li>
            <li><a class="menu-item" href="#">
                <img src="clients.png">
                <span class="nav-item">Клиенты</span>
            </a></li>
            <li><a class="menu-item" href="#">
                <img src="programs.png">
                <span class="nav-item">Программы</span>
            </a></li>
            <li><a class="menu-item" href="#">
                <img src="exercises.png">
                <span class="nav-item">Упражнения</span>
            </a></li>
        </ul>
    </nav>


    <section class="main">
        <div class="main-top">
            <h1>Упражнения</h1>
            <hr class="horizontal-line">
        </div>

        <div class="exercises">
            <h1>Упражнения</h1>

        </div>
    </section>

</div>

</body>
</html>