.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 220px;
    overflow: auto;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
}

.dropdown-row {
    width: 100%;
    border: none;
    word-wrap: break-word;
}

.dropdown-content button {
    color: black;
    width: 100%;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content input:hover,button:hover {background-color: #ddd;}
.show {display: block;}