.triangle-left {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    border-top: 10px solid transparent;
    border-right: 15px solid black;
    border-bottom: 10px solid transparent;
}

.input-triangle {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.triangle-left { display: none; }
.row:hover .triangle-left { display: block; }
.row:hover .input-triangle { margin-top: -20px; }
.row:hover .field { font-size: 18px }