.nav-pills .nav-link.active {
    color: #fff;
    background-color: #198754;
}

.nav-pills .nav-link.disabled {
    color: #6c757d;
}

.nav-pills .nav-link {
    color: #198754;
}

div.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

tr.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.fade-in-out {
    opacity: 0;
    height: 0;
    animation: fade-in 1s ease-in forwards, fade-out 1s 5s ease-out forwards;
}

@keyframes fade-in {
    75% {
        height: 0.75rem;
    }
    100% {
        height: 0.75rem;
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        height: 0.75rem;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.active > .page-link {
    background-color: white;
    color: var(--bs-pagination-active-border-color)
}