.btn-gray {
    color: #fff;
    background-color: #667085;
}

.btn-gray:hover {
    color: #fff;
    background-color: #5a6273;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #198754;
}

.nav-pills .nav-link.disabled {
    color: #6c757d;
}

.nav-pills .nav-link {
    color: #198754;
}

div.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}