.add-img-to-question-btn {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    z-index: 1;
}

.input-file {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    z-index: 2;
}