<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="/img/caret-down-square-fill.svg" rel="icon" type="image/x-icon">
    <title>Упражнение</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/upload-file-style.css" rel="stylesheet">
    <link href="/styles/input-number-style.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', _ => {
            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
            src="https://unpkg.com/htmx.org@1.8.6"></script>
</head>

<body class="sb-nav-fixed sb-sidenav-toggled">

<div th:replace="~{fragments/headerNavPanel :: headerNavPanel}"></div>

<div id="layoutSidenav">

    <div th:replace="~{fragments/leftNavPanel.html :: leftNavPanel}"></div>

    <div id="layoutSidenav_content">

        <main style="height: calc(100% - 75px);">
            <div class="container-fluid px-4" style="height: 100%">

                <div>
                    <h1 class="mt-4" th:text="${questionnaireTitle}">Название опросника</h1>
                    <button id="button" class="text-truncate mt-sm-2"
                            th:attr = "
                            hx-get=|@{/questionnaires/{id}/generateLinkModal
                            (id=${questionnaireId})}|"
                            hx-target="main"
                            hx-swap="beforeend"
                            style="
                            width: 40%; height: 40px; border-radius: 5px;"
                    >Сгенерировать ссылку для отправки</button>
                </div>

                <div class="card mb-2 mt-sm-2">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Результаты прохождения
                    </div>
                    <div class="card-body" id="card-body" style="overflow: auto">
                        <div th:fragment="page-content">


                            <div id="tablePag" style="height: calc(100% - 105px); margin-top: 20px">

                                <div th:fragment="pagination-content" style="height: calc(100% - 50px); overflow: auto">

                                    <table style="width: 100%; border-spacing: 0 10px" >
                                        <caption style="padding-bottom: 5px; font-size: 22px"></caption>
                                        <thead>
                                        <tr>
                                            <th>Клиент</th>
                                            <th>Дата прохождения</th>
                                            <th>Набранные баллы</th>
                                            <th>Результат</th>
                                            <th>Просмотр</th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-body" style="gap: 10px">
                                        <tr th:each="result : ${results.content}" th:fragment="table-completing" class="table-completing-row">
                                            <td class="col"><a th:href="@{/customerСard/{clientId}(clientId=${result.client.userId})}" th:text="|${result.client.firstName} ${result.client.lastName}|"></a></td>
                                            <td class="col" th:text="${#dates.format(result.completingDate, 'dd-MM-yyyy')}"></td>
                                            <td class="col" th:text="${result.numericResult}"></td>
                                            <td class="col" th:text="${result.textResult}"></td>
                                            <td class="col"> <a th:href="@{/questionnaire/results/{clientId}(clientId=${result.client.id})}">Просмотр</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--<div id="questionnaires-navigation-bar" style="height: 50px">
                                    <ul class="pagination justify-content-center">
                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${(results.getPageable().pageNumber == 0) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#card-body"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${0})}"
                                                >Первая</a>
                                            </li>
                                        </div>

                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${(results.getPageable().pageNumber == 0) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#card-body"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${questionnaires.getPageable().pageNumber - 1})}"
                                                >Назад</a>
                                            </li>
                                        </div>

                                        <div class="pagination" style="max-width: 50%;">

                                            <li class="page-item"
                                                th:classappend="${(pageNumber == questionnaires.getPageable().pageNumber + 1) ? 'active' : ''}"
                                                th:each="pageNumber : ${#numbers.sequence(((questionnaires.getPageable().pageNumber - 1 >= 0)? questionnaires.getPageable().pageNumber: questionnaires.getPageable().pageNumber + 1), ((questionnaires.getPageable().pageNumber + 3 < questionnaires.totalPages)? questionnaires.getPageable().pageNumber + 2 : questionnaires.totalPages), 1)}">
                                                <a class="page-link"
                                                   hx-target="#card-body"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/questionnaires/action(page=${pageNumber}, sort=${'title,'+sortType}, title=${questionnaireSearchDto.title})}"
                                                   th:text="${pageNumber}"></a>
                                            </li>
                                        </div>

                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${!(questionnaires.getPageable().pageNumber < questionnaires.totalPages - 1) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#card-body"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${questionnaires.getPageable().pageNumber + 1})}"
                                                >Вперед</a>
                                            </li>
                                        </div>

                                        <div class="pagination">
                                            <li class="page-item"
                                                th:classappend="${!(questionnaires.getPageable().pageNumber < questionnaires.totalPages - 1) ? 'disabled' : ''}">
                                                <a class="page-link"
                                                   hx-target="#card-body"
                                                   hx-trigger="click"
                                                   style="cursor: pointer"
                                                   th:attr="hx-get=@{/questionnaires/action(sort=${'title,'+sortType}, title=${questionnaireSearchDto.title}, page=${questionnaires.totalPages - 1})}"
                                                >Последняя</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto" th:insert="~{/fragments/footer.html :: footer}"></footer>
    </div>
</div>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

</body>
</html>